{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}
    <link href="/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/js/dashboard.js"></script>
    <script src="/js/user-select.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        <div style="text-align: center;padding-bottom: 1rem">
            {{ include('component/user-select.html.twig') }}

            <h2 style="padding-bottom: 0.5rem">Overview</h2>
            <div class="row justify-content-md-center {{ theme == 'dark' ? 'text-light' : 'text-dark' }} theme-text-color">
                <div class="col ">
                    <span class="stat-value">{{ totalPlayCount }}</span><br><span class="stat-description">TOTAL PLAYS</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ uniqueMoviesCount }}</span><br><span class="stat-description">UNIQUE MOVIES</span>
                </div>
                <div class="col">
                    <span class="stat-value">{{ totalHoursWatched }}</span><br><span class="stat-description font-weight-light">HOURS WATCHED</span>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center {{ theme == 'dark' ? 'text-light' : 'text-dark' }} theme-text-color">
                <div class="col ">
                    <span class="stat-value">{{ averagePlaysPerDay }}</span><br><span class="stat-description">PLAYS PER DAY</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averageRuntime }}</span><br><span class="stat-description">AVERAGE RUNTIME</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averagePersonalRating }}</span><br><span class="stat-description">AVERAGE RATING</span>
                </div>
            </div>

            <br>

            <div class="list-group">
                {% for dashboardRow in dashboardRows %}
                    {% if dashboardRow.name == 'Last Plays' %}
                        {% import 'component/dashboard/row-last-plays.html.twig' as dashboardLastPlays %}
                        {{ dashboardLastPlays.create(dashboardRow.isExtended, lastPlays, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Actors' %}
                        {% import "component/dashboard/row-most-watched-actors.html.twig" as dashboardMostWatchedActors %}
                        {{ dashboardMostWatchedActors.create(dashboardRow.isExtended, mostWatchedActors, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Actresses' %}
                        {% import "component/dashboard/row-most-watched-actresses.html.twig" as dashboardMostWatchedActresses %}
                        {{ dashboardMostWatchedActresses.create(dashboardRow.isExtended, mostWatchedActresses, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Directors' %}
                        {% import "component/dashboard/row-most-watched-directors.html.twig" as dashboardMostWatchedDirectors %}
                        {{ dashboardMostWatchedDirectors.create(dashboardRow.isExtended, mostWatchedDirectors, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Genres' %}
                        {% import "component/dashboard/row-most-watched-genres.html.twig" as dashboardMostWatchedGenres %}
                        {{ dashboardMostWatchedGenres.create(dashboardRow.isExtended, mostWatchedGenres, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Languages' %}
                        {% import "component/dashboard/row-most-watched-languages.html.twig" as dashboardMostWatchedLanguages %}
                        {{ dashboardMostWatchedLanguages.create(dashboardRow.isExtended, mostWatchedLanguages, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Production Companies' %}
                        {% import "component/dashboard/row-most-watched-production-companies.html.twig" as dashboardMostWatchedProductionCopmanies %}
                        {{ dashboardMostWatchedProductionCopmanies.create(dashboardRow.isExtended, mostWatchedProductionCompanies, routeUsername) }}
                    {% elseif dashboardRow.name == 'Most watched Release Years' %}
                        {% import "component/dashboard/row-most-watched-release-year.html.twig" as dashboardMostWatchedProductionCopmanies %}
                        {{ dashboardMostWatchedProductionCopmanies.create(dashboardRow.isExtended, mostWatchedProductionCompanies, routeUsername) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
