{% extends 'base.html.twig' %}
{% import 'makro/tmdb.html.twig' as tmdb %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}
    <link href="/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        <div style="text-align: center;padding-top: 1rem">
            <h2 style="padding-bottom: 0.5rem">Overview</h2>
            <div class="row justify-content-md-center">
                <div class="col ">
                    <span class="stat-value">{{ totalPlayCount }}</span><br><span class="stat-description">TOTAL PLAYS</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ uniqueMoviesCount }}</span><br><span class="stat-description">UNIQUE MOVIES</span>
                </div>
                <div class="col">
                    <span class="stat-value">{{ totalHoursWatched }}</span><br><span class="stat-description font-weight-light">HOURS WATCHED</span>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col ">
                    <span class="stat-value">{{ averagePlaysPerDay }}</span><br><span class="stat-description">PLAYS PER DAY</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averageRuntime }}</span><br><span class="stat-description">AVERAGE RUNTIME</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ average10Rating }}</span><br><span class="stat-description">AVERAGE RATING</span>
                </div>
            </div>

            <hr>

            <div class="list-group">
                <li class="list-group-item list-group-item-action user-select-none activeItemButton clearfix" onclick="toggleButton(this)">
                    Last Plays
                    <i class="bi bi-chevron-up float-end"></i>
                </li>
                <li class="list-group-item activeItem" style="padding: 0.9rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for lastPlay in lastPlays %}
                            <div class="col position-relative" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" style="cursor: pointer" onclick="window.location='/movie/{{ lastPlay.id }}'">
                                    <div class="position-relative">
                                        <img src="{{ tmdb.generatePosterImageUrl(lastPlay.tmdb_poster_path) }}" class="card-img-top" alt="..."
                                             style="border-top-left-radius:0;border-top-right-radius:0;">

                                    </div>
                                    <div class="card-footer" style="padding: 0.1rem">
                                        <small class="text-muted" style="font-size: 0.8rem;">{{ lastPlay.watched_at|date("d.m.y") }}</small>
                                    </div>

                                    {% if lastPlay.rating_10 is not null %}
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                            {{ lastPlay.rating_10 }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-outline-secondary btn-sm" href="/history" style="margin-bottom: 1rem;width: 100%;border-color: lightgrey">more</a>
                </li>

                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Actors
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedActor in mostWatchedActors %}
                            <div class="col" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" onclick="window.location='/person/{{ mostWatchedActor.id }}'" style="cursor: pointer;">
                                    <div class="card-header text-truncate" style="padding: 0.2rem">
                                        <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActor.name }}</small>
                                    </div>
                                    <input id="actorName_{{ mostWatchedActor.id }}" value="{{ mostWatchedActor.name }}" type="hidden">
                                    <img src="{{ tmdb.generatePosterImageUrl(mostWatchedActor.tmdb_poster_path) }}" class="card-img-top" alt="..."
                                         style="border-top-left-radius:0;border-top-right-radius:0;">
                                    <div class="card-footer" style="padding: 0.1rem">
                                        <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActor.count }}x</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-outline-secondary btn-sm" href="/mostWatchedActors" style="margin-bottom: 1rem;width: 100%;border-color: lightgrey">more</a>
                </li>


                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Actresses
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedActress in mostWatchedActresses %}
                            <div class="col" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" onclick="window.location='/person/{{ mostWatchedActress.id }}'" style="cursor: pointer;">
                                    <div class="card-header text-truncate" style="padding: 0.2rem">
                                        <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.name }}</small>
                                    </div>
                                    <input id="actorName_{{ mostWatchedActress.id }}" value="{{ mostWatchedActress.name }}" type="hidden">
                                    <img src="{{ tmdb.generatePosterImageUrl(mostWatchedActress.tmdb_poster_path) }}" class="card-img-top" alt="..."
                                         style="border-top-left-radius:0;border-top-right-radius:0;">
                                    <div class="card-footer" style="padding: 0.1rem">
                                        <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.count }}x</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-outline-secondary btn-sm" href="/mostWatchedActors" style="margin-bottom: 1rem;width: 100%;border-color: lightgrey">more</a>
                </li>

                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Directors
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedDirector in mostWatchedDirectors %}
                            <div class="col" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" onclick="window.location='/person/{{ mostWatchedDirector.id }}'" style="cursor: pointer;">
                                    <div class="card-header text-truncate" style="padding: 0.2rem">
                                        <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedDirector.name }}</small>
                                    </div>
                                    <input id="directorName_{{ mostWatchedDirector.id }}" value="{{ mostWatchedDirector.name }}" type="hidden">
                                    <img src="{{ tmdb.generatePosterImageUrl(mostWatchedDirector.tmdb_poster_path) }}" class="card-img-top" alt="..."
                                         style="border-top-left-radius:0;border-top-right-radius:0;">
                                    <div class="card-footer" style="padding: 0.1rem">
                                        <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedDirector.count }}x</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </li>

                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Genres
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedGenre in mostWatchedGenres %}
                            {% if loop.index <= 12 %}
                                <div class="col" style="padding-bottom: 1rem;">
                                    <div class="card h-100 position-relative">
                                        <div class="card-header text-truncate" style="padding: 0.2rem;border-bottom:0">
                                            <small class="text-muted" style="font-size: 0.9rem;font-weight: bold">{{ mostWatchedGenre.name }}</small>
                                        </div>
                                        <div class="card-footer" style="padding: 0.1rem">
                                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedGenre.count }}x</small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Languages
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedLanguage in mostWatchedLanguages %}
                            {% if loop.index <= 12 %}
                                <div class="col" style="padding-bottom: 1rem;">
                                    <div class="card h-100 position-relative">
                                        <div class="card-header text-truncate" style="padding: 0.2rem;border-bottom:0">
                                            <small class="text-muted" style="font-size: 0.9rem;font-weight: bold">{{ mostWatchedLanguage.name }}</small>
                                        </div>
                                        <div class="card-footer" style="padding: 0.1rem">
                                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedLanguage.count }}x</small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Production Companies
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedProductionCompany in mostWatchedProductionCompanies %}
                            {% if loop.index <= 12 %}
                                <div class="col" style="padding-bottom: 1rem;">
                                    <div class="card h-100 position-relative">
                                        <div class="card-header text-truncate" style="padding: 0.2rem;border-bottom:0">
                                            <small class="text-muted" style="font-size: 0.9rem;font-weight: bold">{{ mostWatchedProductionCompany.name }}</small>
                                        </div>
                                        <div class="card-footer" style="padding: 0.1rem">
                                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedProductionCompany.count }}x</small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <li class="list-group-item list-group-item-action user-select-none inactiveItemButton clearfix" onclick="toggleButton(this)">
                    Most watched Release Years
                    <i class="bi bi-chevron-down float-end"></i>
                </li>
                <li class="list-group-item inactiveItem" style="padding: 1rem 0.4rem 0 0.4rem;">
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                        {% for mostWatchedReleaseYear in mostWatchedReleaseYears %}
                            {% if loop.index <= 12 %}
                                <div class="col" style="padding-bottom: 1rem;">
                                    <div class="card h-100 position-relative">
                                        <div class="card-header text-truncate" style="padding: 0.2rem;border-bottom:0">
                                            <small class="text-muted" style="font-size: 0.9rem;font-weight: bold;">{{ mostWatchedReleaseYear.name }}</small>
                                        </div>
                                        <div class="card-footer" style="padding: 0.1rem">
                                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedReleaseYear.count }}x</small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>

            </div>
        </div>
    </main>
{% endblock %}


{% block scripts %}
    <script src="/js/dashboard.js"></script>
{% endblock %}
