{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}
    <link href="/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/js/dashboard.js"></script>
    <script src="/js/component/user-select.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        <div style="text-align: center;padding-bottom: 1rem">
            {{ include('component/user-select.html.twig') }}

            <h2 style="padding-bottom: 0.5rem">Overview</h2>
            <div class="row justify-content-md-center {{ theme == 'dark' ? 'text-light' : 'text-dark' }} theme-text-color">
                <div class="col ">
                    <span class="stat-value">{{ totalPlayCount }}</span><br><span class="stat-description">TOTAL PLAYS</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ uniqueMoviesCount }}</span><br><span class="stat-description">UNIQUE MOVIES</span>
                </div>
                <div class="col">
                    <span class="stat-value">{{ totalHoursWatched }}</span><br><span class="stat-description font-weight-light">HOURS WATCHED</span>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center {{ theme == 'dark' ? 'text-light' : 'text-dark' }} theme-text-color">
                <div class="col ">
                    <span class="stat-value">{{ averagePlaysPerDay }}</span><br><span class="stat-description">PLAYS PER DAY</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averageRuntime }}</span><br><span class="stat-description">AVERAGE RUNTIME</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averagePersonalRating }}</span><br><span class="stat-description">AVERAGE RATING</span>
                </div>
            </div>

            <br>

            <div class="list-group">
                {% for dashboardRow in dashboardRows %}
                    {% if dashboardRow.isLastPlays and dashboardRow.isVisible %}
                        {% import 'component/dashboard/row-last-plays.html.twig' as dashboardLastPlays %}
                        {{ dashboardLastPlays.create(dashboardRow, lastPlays, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedActors and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-actors.html.twig" as dashboardMostWatchedActors %}
                        {{ dashboardMostWatchedActors.create(dashboardRow, mostWatchedActors, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedActresses and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-actresses.html.twig" as dashboardMostWatchedActresses %}
                        {{ dashboardMostWatchedActresses.create(dashboardRow, mostWatchedActresses, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedDirectors and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-directors.html.twig" as dashboardMostWatchedDirectors %}
                        {{ dashboardMostWatchedDirectors.create(dashboardRow, mostWatchedDirectors, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedGenres and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-genres.html.twig" as dashboardMostWatchedGenres %}
                        {{ dashboardMostWatchedGenres.create(dashboardRow, mostWatchedGenres, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedLanguages and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-languages.html.twig" as dashboardMostWatchedLanguages %}
                        {{ dashboardMostWatchedLanguages.create(dashboardRow, mostWatchedLanguages, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedProductionCompanies and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-production-companies.html.twig" as dashboardMostWatchedProductionCopmanies %}
                        {{ dashboardMostWatchedProductionCopmanies.create(dashboardRow, mostWatchedProductionCompanies, routeUsername) }}
                    {% elseif dashboardRow.isMostWatchedReleaseYears and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-most-watched-release-year.html.twig" as dashboardMostWatchedReleaseYears %}
                        {{ dashboardMostWatchedReleaseYears.create(dashboardRow, mostWatchedReleaseYears, routeUsername) }}
                    {% elseif dashboardRow.isWatchlist and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-watchlist.html.twig" as dashboardWatchlist %}
                        {{ dashboardWatchlist.create(dashboardRow, watchlistItems, routeUsername) }}
                    {% elseif dashboardRow.isTopLocations and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-top-locations.html.twig" as dashboardTopLocations %}
                        {{ dashboardTopLocations.create(dashboardRow, topLocations, routeUsername) }}
                    {% elseif dashboardRow.isLastPlaysCinema and dashboardRow.isVisible %}
                        {% import "component/dashboard/row-last-plays-cinema.html.twig" as dashboardTopLocations %}
                        {{ dashboardTopLocations.create(dashboardRow, lastPlaysCinema, routeUsername) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
