{% extends 'base.html.twig' %}

{% block title %}
    History
{% endblock %}

{% block stylesheets %}
    <link href="/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;padding-top: 1rem">
            <form action="/history" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="s" placeholder="Search" value="{{ (searchTerm is null) ? '' : searchTerm }}">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for historyEntry in historyEntries %}
                    <div class="col" style="padding-bottom: 1rem;cursor: pointer" onclick="window.location='/movie/{{ historyEntry.id }}'">
                        <div class="card h-100  position-relative">
                            <img src="https://image.tmdb.org/t/p/w500{{ historyEntry.poster_path }}" class="card-img-top" alt="...">
                            <div class="card-footer" style="padding: 0.1rem">
                                <small class="text-muted" style="font-size: 0.8rem">{{ historyEntry.watched_at|date("d.m.Y") }}</small>
                            </div>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.9rem">
                                {{ historyEntry.rating_10 }}
                            </span>
                        </div>
                    </div>
                    {% set lastDate = historyEntry.watched_at %}
                {% endfor %}
            </div>

            <ul class="pagination justify-content-center">
                {% if paginationElements.previous is null %}
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&laquo;</span></p></li>
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&lsaquo;</span></p></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/history?{{ (searchTerm is null) ? '' : "s=#{searchTerm}&" }}p=1">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/history?{{ (searchTerm is null) ? '' : "s=#{searchTerm}&" }}p={{ paginationElements.previous }}">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <p class="page-link">{{ paginationElements.currentPage }} of {{ paginationElements.maxPage }}</p>
                </li>
                {% if paginationElements.next is null %}
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&rsaquo;</span></p></li>
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&raquo;</span></p></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/history?{{ (searchTerm is null) ? '' : "s=#{searchTerm}&" }}p={{ paginationElements.next }}">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/history?{{ (searchTerm is null) ? '' : "s=#{searchTerm}&" }}p={{ paginationElements.maxPage }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </main>
{% endblock %}
