{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
    <script>
        if ("{{ theme }}" === 'dark') document.getElementsByTagName('body')[0].classList.add('bg-dark')
    </script>
    <main role="main" class="form-signin w-100 m-auto text-center">
        {% if useTwoFactorAuthentication == false %}
            <form action="/login" method="post" enctype="multipart/form-data">
                <h1 id="header" class="text-{{ theme == 'dark' ? 'light' : 'dark' }}" style="margin-bottom: 1rem">Movary</h1>
                <div class="form-floating">
                    <input type="email" name="email" value="{{ defaultEmail }}" class="form-control text-{{ theme == 'dark' ? 'light' : 'dark' }}" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" value="{{ defaultPassword }}" class="form-control text-{{ theme == 'dark' ? 'light' : 'dark' }}" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3" style="margin-bottom: 0.7rem!important;">
                    <label class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">
                        <input type="checkbox" name="rememberMe" value="true"> Remember me
                    </label>
                </div>

                {% if deletedAccount == true %}
                    <div class="alert alert-success" role="alert" style="margin-bottom: 0.7rem!important;">
                        Account deleted successfully.
                    </div>
                {% endif %}
                {% if failedLogin == true %}
                    <div class="alert alert-danger" role="alert" style="margin-bottom: 0.7rem!important;">
                        Invalid credentials
                    </div>
                {% endif %}
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
                {% if registrationEnabled == true %}
                    <a href="/create-user">Create new user</a>
                {% endif %}
            </form>
        {% elseif useTwoFactorAuthentication == true %}
            <form action="/verify-totp" method="post">
                <h1 id="header" class="text-{{ theme == 'dark' ? 'light' : 'dark' }}" style="margin-bottom: 1rem">Movary</h1>
                {% if invalidTOTPCode == true %}
                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        Invalid verification code. Please try again.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}                
                <div class="form-floating">
                    <input type="text" name="TOTPCode" class="form-control text-{{ theme == 'dark' ? 'light' : 'dark' }}" id="floatingVerificationCode" placeholder="Temporary verification code" maxlength="6" autocomplete="off" required>
                    <label for="floatingVerificationCode">Verification code</label>
                </div>
                <div class="checkbox mb-3" style="margin-bottom: 0.7rem!important;">
                    <label class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">
                        <input type="checkbox" name="rememberTOTP" value="true"> Remember verification code
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Verify verification code</button>
            </form>
            <a href="/">Return to login page</a>
        {% endif %}

    </main>
{% endblock %}
