{% extends 'base.html.twig' %}

{% block title %}
    Movie: {{ movie.title }} ({{ movie.releaseDate|date("Y") }})
{% endblock %}

{% block stylesheets %}
    <link href="/css/movie.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <h2 style="display: flex;padding-top: 0.5rem;">{{ movie.title }} ({{ movie.releaseDate|date("Y") }})</h2>
        <div style="display: flex;padding-top: 0.3rem">
            <div style="text-align: center">
                <img src="https://image.tmdb.org/t/p/w342{{ movie.tmdbPosterPath }}" width="200rem" style="width: 11rem;align-self: start;">
            </div>

            <div style="padding-left: 1rem">
                <h6 style="margin-bottom: 0.2rem">Genres</h6>
                <div style="margin-bottom: 0.4rem">
                    <span class="fw-light">
                        {% for movieGenre in movieGenres %}{{ movieGenre.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>

                <h6 style="margin-bottom: 0.2rem">Runtime</h6>
                <div style="margin-bottom: 0.4rem">
                    <span class="fw-light">{{ movie.runtime }}</span>
                </div>

                <h6 style="margin-bottom: 0.2rem">Language</h6>
                <div style="margin-bottom: 0.4rem">
                    <span class="fw-light">{{ movie.originalLanguage }}</span>
                </div>

                <h6 style="margin-bottom: 0.2rem">Rating</h6>
                <div>
                    {% if movie.rating10 is null and movie.rating5 is not null %}
                        <span class="fw-light">{{ movie.rating5 ? movie.rating5 : '-' }}/5</span>
                    {% else %}
                        <span class="fw-light">{{ movie.rating10 ? movie.rating10 : '-' }}/10</span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if movie.tagline is not null %}
            <p class="fw-lighter" style="margin-bottom: 0.6rem;padding-top: 0.8rem">{{ movie.tagline }}</p>
        {% endif %}

        <h6 style="margin-bottom: 0.5rem;{% if movie.tagline is null %}padding-top: 0.8em"{% endif %}">Description</h6>
        <div class="carousel">
            <p style="margin-bottom: 0rem">{{ movie.overview }}</p>
        </div>

        <h6 style="margin-bottom: 0.5rem">Acting</h6>
        <div class="carousel">
            {% for castMember in castMembers|slice(0, 25) %}
                <div class="card" onclick="window.location='/person/{{ castMember.id }}'" style="width: 1rem;min-width: 110px;margin-right: 0.5rem;cursor: pointer">
                    <div class="card-header text-truncate" style="padding: 0.1rem;text-align: center">
                        <small class="text-muted" style="font-size: 0.9rem;">{{ castMember.name }}</small>
                    </div>
                    <img src="https://image.tmdb.org/t/p/w342{{ castMember.tmdbPosterPath }}" class="card-img-top" alt="..."
                         style="border-top-left-radius:0;border-top-right-radius:0;">
                </div>
            {% endfor %}
        </div>

        <h6 style="margin-bottom: 0.5rem">Director</h6>
        <div class="carousel">
            {% for director in directors|slice(0, 25) %}
                <div class="card" onclick="window.location='/person/{{ director.id }}'" style="width: 1rem;min-width: 110px;margin-right: 0.5rem;cursor: pointer">
                    <div class="card-header text-truncate" style="padding: 0.1rem;text-align: center">
                        <small class="text-muted" style="font-size: 0.9rem;">{{ director.name }}</small>
                    </div>
                    <img src="https://image.tmdb.org/t/p/w342{{ director.tmdbPosterPath }}" class="card-img-top" alt="..." style="border-top-left-radius:0;border-top-right-radius:0;">
                </div>
            {% endfor %}
        </div>

        <p style="margin-block-end:0.2rem">Watched at:</p>
        <ul>
            {% for watchDate in watchDates|reverse %}
                <li class="fw-light">{{ watchDate.watched_at|date("d.m.Y") }}</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
