{% extends 'base.html.twig' %}

{% block title %}
    History
{% endblock %}

{% block scripts %}
    <script src="/js/user-select.js"></script>
    <script src="/js/search-options.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center">
            {{ include('component/user-select.html.twig') }}

            <form action="/users/{{ routeUsername }}/movies" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="s" placeholder="Search" value="{{ (searchTerm is null) ? '' : searchTerm }}">
                    <button class="btn btn-primary" type="button" onclick="toggleSearchOptions()" style="background-color: #aab0b3;border-color: #aab0b3">
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div style="display: none;border: #aab0b3 1px;margin-top:1em;margin-bottom:1em" id="searchOptions">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Sort by</span>
                        <select class="form-control" name="sb" id="sort-by" style="width: 50%">
                            <option value="title" {{ sortBy == 'title' ? 'selected' }}>Title</option>
                            <option value="releaseDate" {{ sortBy == 'releaseDate' ? 'selected' }}>Release date</option>
                            <option value="watchDate" {{ sortBy == 'watchDate' ? 'selected' }}>Watch date</option>
                            <option value="rating" {{ sortBy == 'rating' ? 'selected' }}>Rating</option>
                            <option value="runtime" {{ sortBy == 'runtime' ? 'selected' }}>Runtime</option>
                        </select>
                        <select class="form-control" name="so" id="sort-order" style="width: 5%">
                            <option value="asc" {{ sortOrder == 'asc' ? 'selected' }}>&uarr;</option>
                            <option value="desc" {{ sortOrder == 'desc' ? 'selected' }}>&darr;</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Release year</span>
                        <select class="form-control" name="ry" id="release-year">
                            <option value="" {{ releaseYear is null ? 'selected' }}>All</option>
                            {% for uniqueReleaseYear in uniqueReleaseYears %}
                                <option value="{{ uniqueReleaseYear }}" {{ releaseYear == uniqueReleaseYear ? 'selected' }}>{{ uniqueReleaseYear }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Genre</span>
                        <select class="form-control" name="ge" id="genre">
                            <option value="" {{ genre is null ? 'selected' }}>All</option>
                            {% for uniqueGenre in uniqueGenres %}
                                <option value="{{ uniqueGenre }}" {{ uniqueGenre == genre ? 'selected' }}>{{ uniqueGenre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Language</span>
                        <select class="form-control" name="la" id="language">
                            <option value="" {{ language is null ? 'selected' }}>All</option>
                            {% for uniqueLanguage in uniqueLanguages %}
                                <option value="{{ uniqueLanguage.code }}" {{ uniqueLanguage.code == language ? 'selected' }}>{{ uniqueLanguage.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Per page</span>
                        <select class="form-control" name="pp" id="per-page">
                            <option value="24" {{ perPage == 24 ? 'selected' }}>24</option>
                            <option value="48" {{ perPage == 48 ? 'selected' }}>48</option>
                            <option value="72" {{ perPage == 72 ? 'selected' }}>72</option>
                            <option value="96" {{ perPage == 96 ? 'selected' }}>96</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for movie in movies %}
                    <div class="col" style="padding-bottom: 1rem;">
                        <div class="card h-100 position-relative" style="cursor: pointer" onclick="window.location='/users/{{ routeUsername }}/movies/{{ movie.id }}'">
                            <img src="{{ movie.poster_path }}" class="card-img-top card-img-bottom" alt="{{ movie.title }} Poster">

                            {% if movie.userRating is not null %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                    {{ movie.userRating }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% set searchTermQuery = (searchTerm is null) ? '' : "s=#{searchTerm}&" %}
            {% set sortByQuery = (sortBy is null) ? '' : "sb=#{sortBy}&" %}
            {% set sortOrderQuery = (sortOrder is null) ? '' : "so=#{sortOrder}&" %}
            {% set perPageQuery = (perPage is null) ? '' : "pp=#{perPage}&" %}
            {% set releaseYearQuery = (releaseYear is null) ? '' : "ry=#{releaseYear}&" %}
            {% set genreQuery = (genre is null) ? '' : "ge=#{genre}&" %}
            {% set languageQuery = (language is null) ? '' : "la=#{language}&" %}
            {% set baseUrl = '/users/' ~ routeUsername ~ '/movies?' ~ searchTermQuery ~ sortByQuery ~ sortOrderQuery ~ perPageQuery ~ releaseYearQuery ~ genreQuery ~ languageQuery %}

            <ul class="pagination justify-content-center">
                {% if paginationElements.previous is null %}
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&laquo;</span></p></li>
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&lsaquo;</span></p></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p=1">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p={{ paginationElements.previous }}">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <p class="page-link">{{ paginationElements.currentPage }} of {{ paginationElements.maxPage }}</p>
                </li>
                {% if paginationElements.next is null %}
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&rsaquo;</span></p></li>
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&raquo;</span></p></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ baseUrl }}p={{ paginationElements.next }}"
                        >
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p={{ paginationElements.maxPage }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </main>
{% endblock %}
