{% extends 'base.html.twig' %}

{% block title %}
    Movies
{% endblock %}

{% block scripts %}
    <script src="/js/component/user-select.js"></script>
    <script src="/js/component/modal-advanced-search-movie.html.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center">
            {{ include('component/user-select.html.twig') }}
            {{ include('component/modal-advanced-search-movie.html.twig') }}

            <div class="input-group mb-3">
                <input type="text" class="form-control" name="s" placeholder="Search watched movies" value="{{ (searchTerm is null) ? '' : searchTerm }}" style="border-right-color: #aab0b3" id="searchTermInput">
                <button class="btn btn-primary" type="button" onclick="search()" id="directSearchButton">
                    <i class="bi bi-search"></i>
                </button>
                <button id="toggleSearchOptionsButton" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#searchOptionsMovieModal"
                        style="border-left-color: #aab0b3">
                    <i class="bi bi-filter"></i>
                </button>
            </div>

            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for movie in movies %}
                    <div class="col" style="padding-bottom: 1rem;">
                        <div class="card h-100 position-relative" style="cursor: pointer" onclick="window.location='/users/{{ routeUsername }}/movies/{{ movie.id }}'">
                            <img src="{{ movie.poster_path }}" class="card-img-top card-img-bottom" alt="{{ movie.title }} Poster">

                            {% if movie.userRating is not null %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                    {{ movie.userRating }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% set searchTermQuery = (searchTerm is null) ? '' : "s=#{searchTerm}&" %}
            {% set sortByQuery = (sortBy is null) ? '' : "sb=#{sortBy}&" %}
            {% set sortOrderQuery = (sortOrder is null) ? '' : "so=#{sortOrder}&" %}
            {% set perPageQuery = (perPage is null) ? '' : "pp=#{perPage}&" %}
            {% set releaseYearQuery = (releaseYear is null) ? '' : "ry=#{releaseYear}&" %}
            {% set genreQuery = (genre is null) ? '' : "ge=#{genre}&" %}
            {% set languageQuery = (language is null) ? '' : "la=#{language}&" %}
            {% set hasUserRatingQuery = (hasUserRating is null) ? '' : hasUserRating == '0' ? "ur=0&" : "ur=1&" %}
            {% set minUserRatingQuery = (hasUserRating is null or minUserRating is null) ? '' : "minur=#{minUserRating}&" %}
            {% set maxUserRatingQuery = (hasUserRating is null or maxUserRating is null) ? '' : "maxur=#{maxUserRating}&" %}
            {% set baseUrl = '/users/' ~ routeUsername ~ '/movies?' ~ searchTermQuery ~ sortByQuery ~ sortOrderQuery ~ perPageQuery ~ releaseYearQuery ~ genreQuery ~ languageQuery ~ hasUserRatingQuery ~ minUserRatingQuery ~ maxUserRatingQuery %}

            <ul class="pagination justify-content-center">
                {% if paginationElements.previous is null %}
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&laquo;</span></p></li>
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&lsaquo;</span></p></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p=1">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p={{ paginationElements.previous }}">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <p class="page-link">{{ paginationElements.currentPage }} of {{ paginationElements.maxPage }}</p>
                </li>
                {% if paginationElements.next is null %}
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&rsaquo;</span></p></li>
                    <li class="page-item disabled"><p class="page-link"><span aria-hidden="true">&raquo;</span></p></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p={{ paginationElements.next }}">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ baseUrl }}p={{ paginationElements.maxPage }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </main>
{% endblock %}
