{% extends 'base.html.twig' %}
{% import 'makro/tmdb.html.twig' as tmdb %}

{% block title %}
    Movie: {{ movie.title }} ({{ movie.releaseDate|date("Y") }})
{% endblock %}

{% block stylesheets %}
    <link href="/css/movie.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
    <script src="/js/movie.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <h2 style="display: flex;padding-top: 0.5rem;margin-bottom: 0.3rem">{{ movie.title }} ({{ movie.releaseDate|date("Y") }})</h2>


        <input type="hidden" id="movieId" value="{{ movie.id }}">

        <div class="fw-light" id="ratingStars"
             style="color: rgb(255, 193, 7);
                     font-size: 1.5rem;
                     margin-bottom: 0.4rem;
                     {% if loggedIn == true %}cursor:pointer;{% endif %}">

            <span id="ratingStarsSpan">
            {% for i in 1..10 %}
                <i class="bi bi-star{% if movie.rating10 >= i %}-fill{% endif %}" id="ratingStar{{ i }}" onclick="updateRatingStars(this)"></i>
            {% endfor %}
                {% if loggedIn == true %}
                    <i class="bi bi-pencil-square" style="color: black;font-size: 1.3rem;cursor: pointer" onclick="editRating(this)" id="editRatingButton"></i>
                    <i class="bi bi-check-circle-fill" style="color: #198754;font-size: 1.3rem;cursor: pointer;display: none" onclick="saveRating(this)"
                       id="saveRatingButton"></i>
                    <i class="bi bi-x-circle-fill" style="color: #dc3545;font-size: 1.3rem;cursor: pointer;display: none" onclick="resetRating(this)"
                       id="resetRatingButton"></i>
                {% endif %}
            </span>

{#            {% for i in 1..10 %} #}
{#                {% if movie.rating10 < i %} #}
{#                    <svg xmlns="http://www.w3.org/2000/svg" #}
{#                         width="25" #}
{#                         height="25" #}
{#                         fill="currentColor" #}
{#                         class="bi bi-star" #}
{#                         viewBox="0 0 16 16" #}
{#                         id="ratingStar{{ i }}"> #}

{#                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" #}
{#                              onclick="alert('You have clicked the circle.')"/> #}
{#                    </svg> #}
{#                {% else %} #}
{#                    <svg xmlns="http://www.w3.org/2000/svg" #}
{#                         width="25" #}
{#                         height="25" #}
{#                         fill="currentColor" #}
{#                         class="bi bi-star-fill" #}
{#                         viewBox="0 0 16 16" #}
{#                         id="ratingStar{{ i }}"> #}

{#                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" #}
{#                              onclick="alert('You have clicked the circle.')"/> #}
{#                    </svg> #}
{#                {% endif %} #}
{#            {% endfor %} #}
        </div>

        <div style="display: flex;padding-top: 0.3rem">
            <div style="text-align: center">
                <img src="{{ tmdb.generatePosterImageUrl(movie.tmdbPosterPath) }}" width="200rem" style="width: 11rem;align-self: start;">
            </div>

            <div style="padding-left: 1rem">
                <h6 style="margin-bottom: 0.2rem">Genres</h6>
                <div style="margin-bottom: 0.4rem">
                    <span class="fw-light">
                        {% for movieGenre in movieGenres %}{{ movieGenre.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>

                <h6 style="margin-bottom: 0.2rem">Runtime</h6>
                <div style="margin-bottom: 0.4rem">
                    <span class="fw-light">{{ movie.runtime }}</span>
                </div>

                <h6 style="margin-bottom: 0.2rem">Language</h6>
                <div style="margin-bottom: 0.4rem">
                    <span class="fw-light">{{ movie.originalLanguage }}</span>
                </div>
            </div>
        </div>

        {% if movie.tagline is not null %}
            <h6 style="margin-bottom: 0.3rem;padding-top: 0.8rem">Tagline</h6>
            <div class="carousel">
                <p class="fw-lighter" style="margin-bottom: 0rem">{{ movie.tagline }}</p>
            </div>
        {% endif %}

        <h6 style="margin-bottom: 0.3rem;{% if movie.tagline is null %}padding-top: 0.8rem"{% endif %}">Plot</h6>
        <div class="carousel">
            <p style="margin-bottom: 0rem">{{ movie.overview }}</p>
        </div>

        <h6 style="margin-bottom: 0.4rem">Acting</h6>
        <div class="carousel">
            {% for castMember in castMembers|slice(0, 25) %}
                <div class="card" onclick="window.location='/person/{{ castMember.id }}'" style="width: 1rem;min-width: 110px;margin-right: 0.5rem;cursor: pointer">
                    <div class="card-header text-truncate" style="padding: 0.1rem;text-align: center">
                        <small class="text-muted" style="font-size: 0.9rem;">{{ castMember.name }}</small>
                    </div>

                    <img src="{{ tmdb.generatePosterImageUrl(castMember.tmdbPosterPath) }}" class="card-img-top" alt="..."
                         style="border-top-left-radius:0;border-top-right-radius:0;">
                </div>
            {% endfor %}
        </div>

        <h6 style="margin-bottom: 0.4rem">Director</h6>
        <div class="carousel">
            {% for director in directors|slice(0, 25) %}
                <div class="card" onclick="window.location='/person/{{ director.id }}'" style="width: 1rem;min-width: 110px;margin-right: 0.5rem;cursor: pointer">
                    <div class="card-header text-truncate" style="padding: 0.1rem;text-align: center">
                        <small class="text-muted" style="font-size: 0.9rem;">{{ director.name }}</small>
                    </div>

                    <img src="{{ tmdb.generatePosterImageUrl(director.tmdbPosterPath) }}"
                         class="card-img-top"
                         alt="..."
                         style="border-top-left-radius:0;border-top-right-radius:0;">
                </div>
            {% endfor %}
        </div>

        <p style="margin-block-end:0">Watched at:</p>
        <ul>
            {% for watchDate in watchDates|reverse %}
                <li class="fw-light">{{ watchDate.watched_at|date("d.m.Y") }} {% if watchDate.plays > 1 %}({{ watchDate.plays }}x){% endif %}
                    {% if loggedIn == true %}
                        <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-bottom: 0.5rem;margin-top: 0.2rem" onclick="deleteWatchDate(this)"
                                id="delete-button-{{ loop.index }}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="11"
                                 height="11"
                                 fill="currentColor"
                                 class="bi bi-trash-fill"
                                 viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                            </svg>
                        </button>
                        <watchDate id="delete-button-{{ loop.index }}-watch-date" movie-id="{{ watchDate.movie_id }}" date="{{ watchDate.watched_at|date("d.m.Y") }}"></watchDate>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
