{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}


{% block scripts %}
    <script src="/js/password-reset.js"></script>
{% endblock %}

{% block body %}
    <script>
        if ("{{ theme }}" === 'dark') document.getElementsByTagName('body')[0].classList.add('bg-dark')
    </script>
    <main role="main" class="form-signin w-100 m-auto text-center">
        <h1 id="header" class="text-{{ theme == 'dark' ? 'light' : 'dark' }}" style="margin-bottom: 1rem">Movary</h1>
        <p>Reset your password</p>
        <input type="hidden"
               id="token"
               value="{{ token }}"
               required>
        <input type="text"
               class="form-control form-control text-{{ theme == 'dark' ? 'light' : 'dark' }}"
               id="newPassword"
               placeholder="New password"
               autocomplete="off"
               style="margin-bottom: .7rem;margin-top: .7rem"
               required>
        <input type="text"
               class="form-control form-control text-{{ theme == 'dark' ? 'light' : 'dark' }}"
               id="passwordRepeat"
               placeholder="Repeat password"
               autocomplete="off"
               style="margin-bottom: .7rem;margin-top: .7rem"
               required>
        <button class="w-100 btn btn btn-primary mb-3" type="button" style="margin-bottom: .7rem!important;" id="updatePassword">Reset password</button>

        <a href="/">Sign in</a>
    </main>
{% endblock %}
