{% extends 'base.html.twig' %}

{% block title %}
    Person: {{ person.name }}
{% endblock %}

{% block scripts %}
    <script src="/js/component/user-select.js"></script>
    <script src="/js/person.js"></script>
{% endblock %}

{% block body %}
    <style>
        .truncated {
            -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
            max-height: 4rem;
            overflow-y: hidden;
        }
    </style>
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        {{ include('component/user-select.html.twig') }}

        <input type="hidden" id="personId" value="{{ person.id }}">

        <h2 style="display: flex;">{{ person.name }}</h2>

        <div style="display: flex;">
            <div style="text-align: center">
                <img src="{{ person.posterPath }}" style="width: 13rem;align-self: start;">
            </div>

            <div style="padding-left: 1rem">
                <h6 style="margin-bottom: 0.1rem">Known for</h6>
                <p class="fw-light" style="margin-bottom: 0.4rem">{{ person.knownForDepartment }}</p>

                <h6 style="margin-bottom: 0.1rem">Gender</h6>
                <p class="fw-light"
                   style="margin-bottom: 0.4rem">{{ person.gender == '0' ? '-' }}{{ person.gender == '1' ? 'Female' }}{{ person.gender == '2' ? 'Male' }}{{ person.gender == '3' ? 'Non-Binary' }}</p>

                {% if person.birthDate is not null %}
                    <h6 style="margin-bottom: 0.1rem">Birth date</h6>
                    <p class="fw-light" style="margin-bottom: 0.4rem">{{ person.birthDate }} {% if person.deathDate is null %}({{ person.age }}){% endif %}</p>
                {% endif %}

                {% if person.deathDate is not null %}
                    <h6 style="margin-bottom: 0.1rem">Day of Death</h6>
                    <p class="fw-light" style="margin-bottom: 0.4rem">{{ person.deathDate }} ({{ person.age }})</p>
                {% endif %}

                {% if person.placeOfBirth is not null %}
                    <h6 style="margin-bottom: 0.1rem">Place of Birth</h6>
                    <p class="fw-light" style="margin-bottom: 0.4rem">{{ person.placeOfBirth }}</p>
                {% endif %}
            </div>
        </div>

        <div class="carousel" style="display: flex;margin-top: 0.9rem;margin-bottom: 0.9rem">
            {% if person.imdbUrl is not null %}
                <a style="display: flex; align-items: center;cursor:pointer;margin-right: 0.6rem" href="{{ person.imdbUrl }}" target="_blank">
                    <img src="/images/imdb-logo.svg" style="width: 3rem" alt="imdb logo">
                </a>
            {% endif %}
            <a style="display: flex; align-items: center;cursor:pointer;" href="{{ person.tmdbUrl }}" target="_blank">
                <img src="/images/tmdb-logo.svg" style="width: 2rem" alt="tmdb logo">
            </a>
        </div>

        {% if currentUserName is not null %}
            <div class="container" style="margin-bottom: .8rem">
                <div class="row">
                    <button type="button"
                            id="moreSpecificMovieButton"
                            class="col-lg-5 col-xl-4 col-xxl-3 btn btn-sm {{ theme == 'dark' ? 'btn-outline-light' : 'btn-outline-dark' }}"
                            data-bs-toggle="modal"
                            data-bs-target="#moreModal">
                        More
                    </button>
                </div>
            </div>

            {{ include('component/modal-person-more-options.html.twig') }}
        {% endif %}

        <h6 style="margin-bottom: 0.1rem; margin-top: 1rem; font-weight: bold;">Biography</h6>
        {% if person.biography is not null %}
            <p id="biographyParagraph" style="margin-bottom: 1rem">{{ person.biography|nl2br }}</p>
            <div class="text-primary d-none" style="cursor: pointer; top: 0;" id="expandContainer">
                <span style="padding: 0;float: right;" onclick="toggleBiography()"><i class="bi bi-chevron-down"></i></span>
                <span style="float: right; margin-right: 0.5em;" onclick="toggleBiography()">Read more&#8230;</span>
                <br>
            </div>
        {% else %}
            <p id="biographyParagraph">No biography available.</p>
        {% endif %}

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if moviesAsActor is empty %}disabled{% elseif person.knownForDepartment == 'Acting' or moviesAsDirector is empty %}active{% endif %}"
                        id="home-tab"
                        data-bs-toggle="tab" data-bs-target="#acting"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    Acting {% if moviesAsActor is not empty %}({{ moviesAsActor|length }}){% endif %}
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if moviesAsDirector is empty %}disabled{% elseif person.knownForDepartment == 'Directing' or moviesAsActor is empty %}active{% endif %}"
                        id="profile-tab"
                        data-bs-toggle="tab" data-bs-target="#director" type="button"
                        role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    Director {% if moviesAsDirector is not empty %}({{ moviesAsDirector|length }}){% endif %}
                </button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show {% if person.knownForDepartment == 'Acting' or (moviesAsDirector is empty and moviesAsActor is not empty) %}active{% endif %}"
                 id="acting" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                {% if moviesAsActor is not empty %}
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6" style="text-align: center;margin-top: 1rem">
                        {% for movieAsActor in moviesAsActor %}
                            <div class="col position-relative" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" style="cursor: pointer"
                                     onclick="window.location='/users/{{ routeUsername }}/movies/{{ movieAsActor.id }}'">
                                    <div class="position-relative">
                                        <img src="{{ movieAsActor.poster_path }}" class="card-img-top card-img-bottom" alt="{{ movieAsActor.title }} Poster">
                                    </div>

                                    {% if movieAsActor.userRating is not null %}
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                            {{ movieAsActor.userRating }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if moviesFromWatchlistAsActor is not empty %}
                    <h6>From your watch list</h6>
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6" style="text-align: center;margin-top: 1rem">
                        {% for movieAsActor in moviesFromWatchlistAsActor %}
                            <div class="col position-relative" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" style="cursor: pointer"
                                     onclick="window.location='/users/{{ routeUsername }}/movies/{{ movieAsActor.id }}'">
                                    <div class="position-relative">
                                        <img src="{{ movieAsActor.poster_path }}" class="card-img-top card-img-bottom" alt="{{ movieAsActor.title }} Poster">
                                    </div>

                                    {% if movieAsActor.userRating is not null %}
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                            {{ movieAsActor.userRating }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane fade show {% if person.knownForDepartment == 'Directing' or (moviesAsActor is empty and moviesAsDirector is not empty) %}active{% endif %}"
                 id="director" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6" style="text-align: center;margin-top: 1rem">
                    {% for movieAsDirector in moviesAsDirector %}
                        <div class="col position-relative" style="padding-bottom: 1rem">
                            <div class="card h-100 position-relative" style="cursor: pointer"
                                 onclick="window.location='/users/{{ routeUsername }}/movies/{{ movieAsDirector.id }}'">
                                <div class="position-relative">
                                    <img src="{{ movieAsDirector.poster_path }}" class="card-img-top card-img-bottom" alt="{{ movieAsDirector.title }} Poster">

                                </div>
                                {% if movieAsDirector.userRating is not null %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                        {{ movieAsDirector.userRating }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if moviesFromWatchlistAsDirector is not empty %}
                  <h6>From your watch list</h6>
                  <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6" style="text-align: center;margin-top: 1rem">
                      {% for movieAsDirector in moviesFromWatchlistAsDirector %}
                          <div class="col position-relative" style="padding-bottom: 1rem">
                              <div class="card h-100 position-relative" style="cursor: pointer"
                                   onclick="window.location='/users/{{ routeUsername }}/movies/{{ movieAsDirector.id }}'">
                                  <div class="position-relative">
                                      <img src="{{ movieAsDirector.poster_path }}" class="card-img-top card-img-bottom" alt="{{ movieAsDirector.title }} Poster">

                                  </div>
                                  {% if movieAsDirector.userRating is not null %}
                                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                          {{ movieAsDirector.userRating }}
                                      </span>
                                  {% endif %}
                              </div>
                          </div>
                      {% endfor %}
                      </div>
                  {% endif %}
            </div>
        </div>
        <br>
    </main>
{% endblock %}
