{% extends 'base.html.twig' %}

{% block title %}
    Person: {{ person.name }}
{% endblock %}

{% block scripts %}
    <script src="/js/userSelect.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}
        {{ include('component/user-select.html.twig') }}

        <h2 style="display: flex;">{{ person.name }}</h2>

        <div style="display: flex;">
            <div style="text-align: center">
                <img src="{{ person.posterPath }}" width="200rem" style="width: 11rem;align-self: start;">
            </div>

            <div style="padding-left: 1rem">
                <h6 style="margin-bottom: 0.1rem">Known for</h6>
                <p style="margin-bottom: 0.4rem">{{ person.knownForDepartment }}</p>

                <h6 style="margin-bottom: 0.1rem">Gender</h6>
                <p style="margin-bottom: 0.4rem">{{ person.gender == '0' ? '-' }}{{ person.gender == '1' ? 'Female' }}{{ person.gender == '2' ? 'Male' }}{{ person.gender == '3' ? 'Non-Binary' }}</p>
            </div>
        </div>

        <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if moviesAsActor is empty %}disabled{% elseif person.knownForDepartment == 'Acting' or moviesAsDirector is empty %}active{% endif %}" id="home-tab"
                        data-bs-toggle="tab" data-bs-target="#acting"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    Acting {% if moviesAsActor is not empty %}({{ moviesAsActor|length }}){% endif %}
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if moviesAsDirector is empty %}disabled{% elseif person.knownForDepartment == 'Directing' or moviesAsActor is empty %}active{% endif %}" id="profile-tab"
                        data-bs-toggle="tab" data-bs-target="#director" type="button"
                        role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    Director {% if moviesAsDirector is not empty %}({{ moviesAsDirector|length }}){% endif %}
                </button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show {% if person.knownForDepartment == 'Acting' or (moviesAsDirector is empty and moviesAsActor is not empty) %}active{% endif %}" id="acting" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                {% if moviesAsActor is not empty %}
                    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6" style="text-align: center;margin-top: 1rem">
                        {% for movieAsActor in moviesAsActor %}
                            <div class="col position-relative" style="padding-bottom: 1rem;">
                                <div class="card h-100 position-relative" style="cursor: pointer" onclick="window.location='/{{ routeUsername }}/movie/{{ movieAsActor.id }}'">
                                    <div class="position-relative">
                                        <img src="{{ movieAsActor.poster_path }}" class="card-img-top card-img-bottom" alt="...">
                                    </div>

                                    {% if movieAsActor.userRating is not null %}
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                            {{ movieAsActor.userRating }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane fade show {% if person.knownForDepartment == 'Directing' or (moviesAsActor is empty and moviesAsDirector is not empty) %}active{% endif %}" id="director" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6" style="text-align: center;margin-top: 1rem">
                    {% for movieAsDirector in moviesAsDirector %}
                        <div class="col position-relative">
                            <div class="card h-100 position-relative" style="cursor: pointer" onclick="window.location='/{{ routeUsername }}/movie/{{ movieAsDirector.id }}'">
                                <div class="position-relative">
                                    <img src="{{ movieAsDirector.poster_path }}" class="card-img-top card-img-bottom" alt="...">

                                </div>
                                {% if movieAsDirector.userRating is not null %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.8rem">
                                        {{ movieAsDirector.userRating }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>

    </main>
{% endblock %}
