{% extends 'base.html.twig' %}

{% block title %}
    Settings - App
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h5 style="margin-bottom: 1rem;">About</h5>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">Version:</span> <span class="fw-light">{{ currentApplicationVersion }}</span>
                    {% set badgeStyle = (releases is empty or currentApplicationVersion != releases|first.name) ? 'text-bg-warning' : 'text-bg-success' %}
                    {% set badgeText = (releases is empty or currentApplicationVersion != releases|first.name) ? 'Update available' : 'Up to date' %}
                    <a
                        href="https://github.com/leepeuker/movary/releases"
                        class="badge rounded-pill {{ badgeStyle }}"
                        target="_blank"
                        style="text-decoration-line:none">
                        {{ badgeText }}
                    </a>
                </p>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">Timezone:</span>
                    <span class="fw-light">{{ timeZone }}</span>
                </p>

                <hr>

                <h5 style="margin-bottom: 1rem;padding-top: 0.5rem">Getting Support</h5>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">Github:</span>
                    <a class="fw-light" href="https://github.com/leepeuker/movary/issues" target="_blank">leepeuker/movary</a>
                </p>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">Matrix:</span>
                    <a class="fw-light" href="https://element.leepeuker.dev/#/room/#movary-support:leepeuker.dev" target="_blank">#movary-support:leepeuker.dev</a>
                </p>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }}">Reddit:</span>
                    <a class="fw-light" href="https://www.reddit.com/r/movary/" target="_blank">/r/movary</a>
                </p>

                <hr>

                <h5 style="margin-bottom: 1rem;padding-top: 0.5rem">Latest Releases</h5>
                <ul class="list-group">
                    {% set hastLatest = false %}
                    {% for release in releases %}
                        <li class="list-group-item">
                            <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }}" >{{ release.name }}</span>
                            {% if hastLatest == false %}<span class="badge rounded-pill text-bg-success">Latest</span>{% endif %}
                            {% if (releases is not empty and currentApplicationVersion == release.name) %}<span class="badge rounded-pill text-bg-primary">Current</span>{% endif %}

                            {% set hastLatest = true %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
