{% extends 'base.html.twig' %}

{% block title %}
    Settings - Jellyfin
{% endblock %}

{% block scripts %}
    <script src="{{ applicationUrl }}/js/settings-integration-jellyfin.js"></script>
    <script src="{{ applicationUrl }}/js/component/modal-job.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ applicationUrl }}/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Jellyfin webhook url</h5>

                <p class="text-muted" style="margin-bottom: 0.5rem">
                    Keep Movary automatically up to date with your latest watches in Jellyfin.
                </p>

                <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <b>Configuration</b>
                    <br style="margin-bottom: 0.5rem">
                    Requires activated <a href="https://github.com/jellyfin/jellyfin-plugin-webhook" target="_blank">webhook plugin</a> in Jellyfin
                    <br style="margin-bottom: 0.5rem">
                    Add a <b>Generic Destination</b> with the generated webhook url and only activate:
                    <ul style="margin-bottom: 0">
                        <li>Notification Type => "Playback Stop"</li>
                        <li>User Filter => Choose your user</li>
                        <li>Item Type => "Movies" + "Send All Properties (ignores template)"</li>
                    </ul>
                </div>

                <div id="jellyfinWebhookUrl"
                     class="overflow-auto text-nowrap webhookUrl"
                     data-active="{{ isActive }}"
                     style="font-size:1rem;margin-top: 1rem;margin-bottom: 1rem;">
                    {{ jellyfinWebhookUrl }}
                </div>

                <div id="alertWebhookUrlDiv">
                    <div class="alert alert-warning {% if isActive != '' %}d-none{% endif %}"
                         role="alert"
                         style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                        Webhook disabled - {% if currentUserIsAdmin == true %}<a href="{{ applicationUrl }}/settings/server/general">Application url</a>{% else %}Application url{% endif %} required
                    </div>
                </div>

                <button id="deleteJellyfinWebhookButton"
                        type="button"
                        class="btn btn-danger {% if jellyfinWebhookUrl == '-' %}disabled{% endif %}"
                        onclick="deleteJellyfinWebhook()">
                    Delete url
                </button>
                <button type="button" class="btn btn-primary  {% if isActive == '' %}disabled{% endif %}" onclick="regenerateJellyfinWebhook()">Regenerate url</button>
            </div>

            <h5 style="margin-top: 1rem">Options</h5>

            <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="scrobbleWatchesCheckbox"
                       name="scrobbleWatches"
                       {% if jellyfinWebhookUrl == '-' %}disabled{% endif %}
                        {% if scrobbleWatches == true %}checked{% endif %}
                       style="margin-right: 0.2rem">
                <label class="form-check-label" for="scrobbleWatchesCheckbox">Scrobble completed watches</label>
            </div>

            <div id="alertWebhookOptionsDiv"></div>

            <button type="submit" class="btn btn-primary" {% if jellyfinWebhookUrl == '-' %}disabled{% endif %} id="saveButton" onclick="updateScrobbleOptions()">Save</button>

            <hr>

            <h5>Jellyfin authentication</h5>

            <p class="text-muted" style="padding-bottom: 0">
                For personal data access you have to authenticate against Jellyfin.
            </p>

            <div id="alertJellyfinAuthenticationDiv">
                <div class="alert alert-warning {% if jellyfinDeviceId == true %}d-none{% endif %}"
                     role="alert"
                     style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                    Authentication disabled - Jellyfin device id required
                </div>
            </div>

            <div id="authenticateWithJellyfinDiv" class="{% if jellyfinIsAuthenticated == true %}d-none{% endif %}">
                <button type="button"
                        class="btn btn-primary mb-3"
                        data-bs-toggle="modal"
                        data-bs-target="#jellyfinAuthenticationModal"
                        id="authenticateWithJellyfinButton"
                        {% if jellyfinServerUrl == null %}disabled{% endif %}>
                    Authenticate
                </button>
            </div>
            <div id="removeAuthenticationWithJellyfinDiv" class="{% if jellyfinIsAuthenticated == false %}d-none{% endif %}">
                <button type="button" class="btn btn-danger mb-3" onclick="removeJellyfinAuthentication()">Remove Authentication</button>
                <p>Username: {{ jellyfinUsername }}</p>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="jellyfinServerUrlInputPrefix">Server Url</span>
                <input type="text"
                       name="jellyfinServerUrlInput"
                       id="jellyfinServerUrlInput"
                       class="form-control"
                       value="{{ jellyfinServerUrl }}"
                       aria-describedby="jellyfinServerUrlInputPrefix"
                        {% if jellyfinDeviceId == null %} disabled {% endif %}>
                <button class="btn btn-outline-secondary" type="button" id="jellyfinServerUrlInputPrefix" data-bs-toggle="modal" data-bs-target="#jellyfinServerUrlHelpModal">
                    <i class="bi bi-question-lg"></i>
                </button>
            </div>

            <div class="spinner-border d-none" role="status" id="alertJellyfinServerUrlLoadingSpinner" style="margin-bottom: 1rem">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div id="alertJellyfinServerUrlDiv"></div>

            <button type="submit"
                    class="btn btn-outline-primary mb-3"
                    id="verifyServerUrlButton"
                    onclick="verifyJellyfinServerUrl()"
                    {% if jellyfinServerUrl == null or jellyfinDeviceId == null %} disabled {% endif %}
            >Test connection
            </button>
            <button type="submit"
                    class="btn btn-primary mb-3"
                    id="saveServerUrlButton"
                    onclick="saveJellyfinServerUrl()"
                    {% if jellyfinDeviceId == null %} disabled {% endif %}
            >Save url
            </button>

            <div class="modal fade" id="jellyfinAuthenticationModal" tabindex="-1" aria-labelledby="jellyfinAuthenticationModal" aria-hidden="true" data-bs-keyboard="false">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Jellyfin authentication</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="jellyfinModalBody" style="padding-bottom: 0">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Server Url</span>
                                <input type="text" class="form-control disabled" id="jellyfinAuthenticationModalServerUrlInput" value="{{ jellyfinServerUrl }}" disabled/>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Username</span>
                                <input type="text" class="form-control disabled" id="jellyfinAuthenticationModalUsernameInput"/>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Password</span>
                                <input type="password" class="form-control disabled" id="jellyfinAuthenticationModalPasswordInput"/>
                            </div>
                            <div class="spinner-border d-none" role="status" id="jellyfinAuthenticationModalLoadingSpinner" style="margin-bottom: .8rem">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div id="alertJellyfinAuthenticationModalDiv"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="authenticateJellyfinAccount()"
                                    id="jellyfinAuthenticationModalAuthenticateButton" {% if jellyfinServerUrl == null %} disabled {% endif %}>Authenticate
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="jellyfinServerUrlHelpModal" tabindex="-1" role="dialog" aria-labelledby="jellyfinServerUrlHelpModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered text-start">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="jellyfinServerUrlHelpModalTitle">Help: Jellyfin Server Url</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <p>
                                    You have to provide a Jellyfin server url which can be accessed by Movary.
                                    If your Jellyfin server is in a restricted network make sure Movary has access to it. Example urls:
                                </p>
                                <ul>
                                    <li>http://localhost:8096</li>
                                    <li>http://192.168.1.2:8096</li>
                                    <li>https://jellyfin.yourDomain.com</li>
                                </ul>
                                <p>
                                    Note: A valid url must start with the protocol (e.g. http://)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <h5>Jellyfin sync</h5>

            <div id="alertJellyfinSyncDiv">
                <div class="alert alert-warning {% if jellyfinIsAuthenticated == true %}d-none{% endif %}"
                     role="alert"
                     style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                    Sync disabled - Authentication required
                </div>
            </div>

            <div id="alertJellyfinImportHistoryDiv"></div>

            <div style="margin-bottom: 1rem;margin-top: 1rem">
                <button type="button" class="btn btn-outline-primary" onclick="showJobModal('jellyfin_import_history')">
                    Show imports
                </button>
                <button type="button"
                        class="btn btn-warning"
                        data-bs-target="#importHistoryModal"
                        data-bs-toggle="modal"
                        id="jellyfinHistoryImportButton"
                        {% if jellyfinIsAuthenticated == false %}disabled{% endif %}>
                    Import history from Jellyfin
                </button>
            </div>

            <div id="alertJellyfinExportHistoryDiv"></div>

            <div style="margin-bottom: 1rem;margin-top: 1rem">
                <button type="button" class="btn btn-outline-primary" onclick="showJobModal('jellyfin_export_history')">
                    Show exports
                </button>
                <button type="button"
                        class="btn btn-warning"
                        data-bs-target="#exportHistoryModal"
                        data-bs-toggle="modal"
                        id="jellyfinHistoryExportButton"
                        {% if jellyfinIsAuthenticated == false %}disabled{% endif %}>
                    Export history to Jellyfin
                </button>
            </div>

            <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="automaticWatchStateSyncCheckbox"
                       name="scrobbleWatches"
                       {% if jellyfinIsAuthenticated == false %}disabled{% endif %}
                        {% if jellyfinSyncEnabled == true %}checked{% endif %}
                       style="margin-right: 0.2rem">
                <label class="form-check-label" for="automaticWatchStateSyncCheckbox">Automatically export history changes to Jellyfin</label>
            </div>

            <div id="alertJellyfinSyncOptionsDiv"></div>

            <button type="submit" class="btn btn-primary" {% if jellyfinIsAuthenticated == false %}disabled{% endif %} id="syncSaveButton" onclick="updateSyncOptions()">Save
            </button>
        </div>

        {{ include('component/modal-job.html.twig') }}

        <div class="modal fade" id="exportHistoryModal" tabindex="-1" role="dialog" aria-labelledby="exportHistoryModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm export</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <strong>Are you sure you want to export your history?</strong>
                        <br>
                        <p style="padding-top: 1rem;margin-bottom: 0">This will mark all movies with Movary watch dates as watched in Jellyfin and update their last play date to
                            the latest watch
                            date.</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" onclick="exportJellyfin()">Submit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="importHistoryModal" tabindex="-1" role="dialog" aria-labelledby="importHistoryModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm import</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <strong>Are you sure you want to import your history?</strong>
                        <br>
                        <p style="padding-top: 1rem;margin-bottom: 0">This will add missing watch dates to Movary for all movies with Jellyfin plays. Movies with multiple plays in Jellyfin will result in only one watch date, using the most recent date.</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" onclick="importJellyfin()">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </main>
{% endblock %}
