{% extends 'base.html.twig' %}

{% block title %}
    Settings - App
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/js/settings-server-users.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h5 style="margin-bottom: 1rem;">User Management</h5>

                <p class="text-muted">List of all users. Click on table row to edit/delete users.</p>

                <div id="userManagementAlerts"></div>

                <div class="table-responsive">
                    <table class="table table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Admin</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="spinner-border d-none" role="status" id="userTableLoadingSpinner">
                    <span class="visually-hidden" style="margin-top: 1rem">Loading...</span>
                </div>

                <button type="button" class="btn btn-primary" style="width: 100%" onclick="showCreateUserModal()">Create User</button>

                <hr>

                <h5 style="margin-bottom: 1rem;">Password resets</h5>

                <p class="text-muted">List of all existing password resets. Click on table row to edit/delete reset.</p>

                <div id="passwordResetAlerts"></div>

                <input type="hidden" value="{{ applicationUrl }}" id="applicationUrl">

                <div class="table-responsive">
                    <table class="table table-hover" id="passwordResetTable">
                        <thead>
                        <tr>
                            <th scope="col">User Id</th>
                            <th scope="col">Token</th>
                            <th scope="col">Expiration Date</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="spinner-border d-none" role="status" id="passwordResetTableLoadingSpinner" style="margin-bottom: .7rem!important;">
                    <span class="visually-hidden">Loading...</span>
                </div>

                <button type="button" class="btn btn-primary" style="width: 100%" onclick="showCreatePasswordResetModal()">Create password reset</button>
            </div>
        </div>

        {{ include('component/modal-user.html.twig') }}
        {{ include('component/modal-password-reset.html.twig') }}
    </main>
{% endblock %}
