{% extends 'base.html.twig' %}

{% block title %}
    Settings - Letterboxd
{% endblock %}

{% block scripts %}
    <script src="{{ applicationUrl }}/js/settings-integration-letterboxd.js"></script>
    <script src="{{ applicationUrl }}/js/component/modal-job.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h5 style="margin-bottom: 0.5rem">Letterboxd Import</h5>

                <p class="text-muted" style="margin-bottom: 0.8rem">
                    Export your data from <a href="https://letterboxd.com/settings/data/" target="_blank">letterboxd</a>.
                    <br>
                    The received zip archive contains csv files with your data, which can be imported into movary.
                </p>

                <div class="alert alert-warning" role="alert" style="padding-top: 0.5rem;padding-bottom: 0.5rem">
                    <ul style="margin-bottom: 0">
                        <li>Import only adds missing watch dates or ratings, it will not overwrite existing data</li>
                        <li>Ratings are only imported for already existing movies (import diary first!)</li>
                        <li>Importing a big history for the first time can take a few minutes</li>
                        <li>If movies are missing after a successful import check the logs to find out why</li>
                    </ul>
                </div>

                <form action="{{ applicationUrl }}/jobs/schedule/letterboxd-diary-sync" method="post" enctype="multipart/form-data">
                    <h5 style="margin-bottom: 0.5rem">Import History</h5>
                    <p class="text-muted" style="margin-bottom: 0.5rem">Upload the diary.csv file</p>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" accept=".csv" name="diaryCsv" id="diaryCsv" required
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}>
                    </div>

                    <button type="button" class="btn btn-outline-primary" onclick="showJobModal('letterboxd_import_history')" style="margin-right: .3rem">Show imports</button>
                    <button type="submit" class="btn btn-warning" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Import history</button>

                    {% if letterboxdDiarySyncSuccessful == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;margin-bottom: 0!important;margin-top: 1rem">
                            History import scheduled
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    {% endif %}
                    {% if letterboxdDiaryImportFileInvalid == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;margin-bottom: 0!important;margin-top: 1rem">
                            Csv file invalid: Must contain the columns "Date", "Letterboxd URI" and "Watched date".
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </form>

                <br>

                <form action="{{ applicationUrl }}/jobs/schedule/letterboxd-ratings-sync" method="post" enctype="multipart/form-data">
                    <h5 style="margin-bottom: 0.5rem">Import Ratings</h5>
                    <p class="text-muted" style="margin-bottom: 0.5rem">Upload the ratings.csv file</p>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" accept=".csv" name="ratingsCsv" id="ratingsCsv" required
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}>
                    </div>

                    <button type="button" class="btn btn-outline-primary" onclick="showJobModal('letterboxd_import_ratings')" style="margin-right: .3rem">Show imports</button>
                    <button type="submit" class="btn btn-warning" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Import ratings</button>

                    {% if letterboxdRatingsSyncSuccessful == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;margin-bottom: 0!important;margin-top: 1rem">
                            Ratings import scheduled
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if letterboxdRatingsImportFileInvalid == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;margin-bottom: 0!important;margin-top: 1rem">
                            Csv file invalid: Must contain the columns "Rating", "Letterboxd URI" and "Name".
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </form>

                <hr>

                <h4 style="margin-bottom: 0.5rem">Letterboxd Export</h4>

                <p class="text-muted" style="margin-bottom: 0.8rem">
                    Download your data as csv and import them via the <a href="https://letterboxd.com/about/importing-data/" target="_blank">letterboxd importer</a>.
                    <br>
                    The downloaded zip archive may contain multiple files, every one of them has to be imported.
                </p>

                <a class="btn btn-primary" href="{{ applicationUrl }}/settings/letterboxd-export" target="_blank">Generate export data</a>
            </div>
        </div>

        {{ include('component/modal-job.html.twig') }}
    </main>
{% endblock %}
