{% extends 'base.html.twig' %}

{% block title %}
    Settings
{% endblock %}

{% block scripts %}
    <script src="/js/settings.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;padding-top: 1rem">

            {#            <form action="/letterboxd-rating" method="post" enctype="multipart/form-data"> #}
            {#                <p>letterboxd.com | Last refresh: {{ lastSyncLetterboxd }}<br></p> #}
            {#                <input type="file" id="letterboxedRating" name="letterboxedRating" accept=".csv" required style="padding-bottom: 1rem;padding-left:6rem"> <br> #}
            {#                <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Refresh</button> #}
            {#            </form> #}

            <h4>Plex webhook url:</h4>
            <p id="plexWebhookUrl" class="overflow-auto text-nowrap plexWebhookUrl">{{ plexWebhookUrl }}</p>
            <button type="button" class="btn btn-primary" onclick="regeneratePlexWebhookId()">Regenerate url</button>

            <hr>

            <p>Last <a href="https://trakt.tv/" target="_blank">trakt.tv</a> sync: <span class="fw-light">{{ lastSyncTrakt }}</span></p>
            <p>Last <a href="https://themoviedb.org/" target="_blank">themoviedb.org</a> sync: <span class="fw-light">{{ lastSyncTmdb }}</span></p>
            <p>Last <a href="https://letterboxd.com/" target="_blank">letterboxd</a> sync: <span class="fw-light">{{ lastSyncLetterboxd }}</span></p>
            <p>Current <a href="https://github.com/leepeuker/movary/releases" target="_blank">application</a> version: <span class="fw-light">{{ applicationVersion }}</span></p>
        </div>
    </main>
{% endblock %}
