{% extends 'base.html.twig' %}

{% block title %}
    Settings - App
{% endblock %}

{% block scripts %}
    <script src="/js/marked-5.0.2.min.js"></script>
    <script src="/js/settings-app.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h5 style="margin-bottom: 1rem;">About</h5>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }} theme-text-color">Version:</span> <span class="fw-light">{{ currentApplicationVersion }}</span>


                    {% if currentApplicationVersion != 'nightly' %}
                        {% if latestRelease is empty %}
                            {% set badgeStyle = 'text-bg-secondary' %}
                            {% set badgeText = 'Latest version unkown' %}
                        {% else %}
                            {% set badgeStyle = (currentApplicationVersion != latestRelease.name) ? 'text-bg-warning' : 'text-bg-success' %}
                            {% set badgeText = (currentApplicationVersion != latestRelease.name) ? 'Update available' : 'Up to date' %}
                        {% endif %}

                        <a
                                href="https://github.com/leepeuker/movary/releases"
                                class="badge rounded-pill {{ badgeStyle }}"
                                target="_blank"
                                style="text-decoration-line:none">
                            {{ badgeText }}
                        </a>
                    {% endif %}
                </p>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }} theme-text-color">Timezone:</span>
                    <span class="fw-light">{{ applicationTimezone }}</span>
                </p>

                <hr>

                <h5 style="margin-bottom: 1rem;">Getting Support</h5>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }} theme-text-color">Github:</span>
                    <a class="fw-light" href="https://github.com/leepeuker/movary/discussions/categories/support" target="_blank">leepeuker/movary</a>
                </p>
                <p>
                    <span class="text-{{ theme == 'dark' ? 'light' : 'dark' }} theme-text-color">Discord:</span>
                    <a class="fw-light" href="https://discord.gg/KbcSqggrgW" target="_blank">Movary</a>
                </p>

                <hr>

                <h5 style="margin-bottom: 1rem;">Latest Releases</h5>

                <div class="spinner-border" role="status" id="loadingSpinner" style="margin-top: .5rem">
                    <span class="visually-hidden">Loading...</span>
                </div>

                <ul class="list-group" id="latestReleases"></ul>

                <div id="alertReleasesDiv"></div>
            </div>

            {{ include('component/modal-app-release.html.twig') }}
        </div>
    </main>
{% endblock %}
