{% extends 'base.html.twig' %}

{% block title %}
    Settings - Plex
{% endblock %}

{% block scripts %}
    {{ vite('js/settings-integration-plex.js') }}
    {{ vite('js/component/modal-job.js') }}
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;margin-bottom: 1rem">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Plex webhook url</h5>

                <p class="text-muted">Enter the following url as a webhook to your plex account to automatically log movies watched via plex. <br>
                    For more info about plex webhooks visit the official <a href="https://support.plex.tv/articles/115002267687-webhooks/" target="_blank">documentation</a>.</p>

                <div id="plexWebhookUrl"
                     class="overflow-auto text-nowrap webhookUrl"
                     data-active="{{ isActive }}"
                     style="font-size:1rem;margin-top: 1rem;margin-bottom: 1rem;">
                    {{ plexWebhookUrl }}
                </div>

                <div id="alertWebhookUrlDiv">
                    <div class="alert alert-warning {% if isActive != '' %}d-none{% endif %}"
                         role="alert"
                         style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                        Webhook disabled - {% if currentUserIsAdmin == true %}<a href="/settings/server/general">Application url</a>{% else %}Application url{% endif %} required
                    </div>
                </div>

                <button id="deletePlexWebhookButton"
                        type="button"
                        class="btn btn-danger {% if plexWebhookUrl == '-' %}disabled{% endif %}"
                        onclick="deletePlexWebhook()">
                    Delete url
                </button>
                <button type="button" class="btn btn-primary {% if isActive == '' %}disabled{% endif %}" onclick="regeneratePlexWebhook()">Regenerate url</button>
            </div>

            <h5 style="margin-top: 1rem">Options</h5>

            <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="scrobbleWatchesCheckbox"
                       name="scrobbleWatches"
                       {% if plexWebhookUrl == '-' %}disabled{% endif %}
                        {% if scrobbleWatches == true %}checked{% endif %}
                       style="margin-right: 0.2rem">
                <label class="form-check-label" for="scrobbleWatchesCheckbox">Scrobble completed watches</label>
            </div>
            <div>
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="scrobbleRatingsCheckbox"
                       name="scrobbleRatings"
                       {% if plexWebhookUrl == '-' %}disabled{% endif %}
                        {% if scrobbleRatings == true %}checked{% endif %}
                       style="margin-left: 0.5rem;margin-right: 0.2rem;">
                <label class="form-check-label" for="scrobbleRatingsCheckbox" style="margin-bottom: 1rem">Scrobble rating updates</label>

                <div id="alertWebhookOptionsDiv"></div>

                <button type="submit" class="btn btn-primary" {% if plexWebhookUrl == '-' %}disabled{% endif %} id="saveButton" onclick="updateScrobbleOptions()">Save</button>
            </div>

            <hr>

            <h5>Plex Authentication</h5>

            <p class="text-muted" style="padding-bottom: 0">
                For personal data access you have to authenticate against Plex.
            </p>

            <div id="alertPlexAuthenticationDiv">
                <div class="alert alert-warning {% if plexTokenExists == true or isActive != '' %}d-none{% endif %}"
                     role="alert"
                     style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                    Authentication disabled - {% if currentUserIsAdmin == true %}<a href="/settings/server/general">Application url</a>{% else %}Application url{% endif %} required
                </div>
                <div class="alert alert-warning {% if hasServerPlexIdentifier == true %}d-none{% endif %}"
                     role="alert"
                     style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                    Authentication disabled - Plex client identifier required
                </div>
            </div>

            <div id="authenticateWithPlexDiv" class="{% if plexTokenExists == true %}d-none{% endif %}">
                <button type="button" class="btn btn-primary mb-3" onclick="authenticateWithPlex()" {% if (isActive == '') or (hasServerPlexIdentifier == false) %}disabled{% endif %}>Authenticate</button>
            </div>
            <div id="removeAuthenticationWithPlexDiv" class="{% if plexTokenExists == false %}d-none{% endif %}">
                <button type="button" class="btn btn-danger mb-3" onclick="removePlexAuthentication()">Remove Authentication</button>
                <p>Username: {{ plexUsername }}</p>
            </div>

            {# The following element is hidden because it is not in use yet #}
            <div class="d-none">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="plexServerUrlInputPrefix">Plex Server Url</span>
                    <input type="text"
                           name="plexServerUrlInput"
                           id="plexServerUrlInput"
                           class="form-control {% if plexTokenExists == false %} disabled {% endif %}"
                           value="{{ plexServerUrl }}"
                           aria-describedby="plexServerUrlInputPrefix" {% if plexTokenExists == false %} disabled {% endif %}
                    >
                    <button class="btn btn-outline-secondary" type="button" id="plexServerUrlInputPrefix" data-bs-toggle="modal" data-bs-target="#plexServerUrlHelpModal">
                        <i class="bi bi-question-lg"></i>
                    </button>
                </div>

                <div class="spinner-border d-none" role="status" id="alertPlexServerUrlLoadingSpinner" style="margin-bottom: 1rem">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="alertPlexServerUrlDiv"></div>

                <button type="submit"
                        class="btn btn-outline-primary mb-3 {% if plexTokenExists == false %} disabled {% endif %}"
                        id="verifyServerUrlButton"
                        {% if plexTokenExists == false %} disabled {% endif %}
                        onclick="verifyPlexServerUrl()"
                >Test connection
                </button>
                <button type="submit"
                        class="btn btn-primary mb-3 {% if plexTokenExists == false %} disabled {% endif %}"
                        id="saveServerUrlButton"
                        {% if plexTokenExists == false %} disabled {% endif %}
                        onclick="savePlexServerUrl()"
                >Save url
                </button>
            </div>

            <hr style="margin-top: 0">

            <h5>Watchlist import</h5>

            <p class="text-muted">This import will add all movies missing from the Plex Watchlist to your Movary Watchlist.</p>

            <div id="alertPlexWatchlistImportDiv">
                <div class="alert alert-warning {% if plexTokenExists == true %}d-none{% endif %}"
                     role="alert"
                     style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                    Import disabled - Plex authentication required
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary" onclick="showJobModal('plex_import_watchlist')">
                Show imports
            </button>
            <button type="button" class="btn btn-warning" onclick="importPlexWatchlist()" id="plexWatchlistImportButton" {% if plexTokenExists == false %}disabled{% endif %}>
                Import watchlist
            </button>
        </div>

        <div class="modal fade" id="plexServerUrlHelpModal" tabindex="-1" role="dialog" aria-labelledby="plexServerUrlHelpModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="plexServerUrlHelpModalTitle">Help: Plex Server Url</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p>
                                You have to provide a Plex server url which can be accessed by Movary.
                                If your Plex server is in a restricted network make sure Movary has access to it. Example urls:
                            </p>
                            <ul>
                                <li>http://localhost:32400</li>
                                <li>http://192.168.1.2:32400</li>
                                <li>https://plex.yourDomain.com</li>
                            </ul>
                            <p>
                                Note: A valid url must start with the protocol (e.g. http://)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('component/modal-job.html.twig') }}
    </main>
{% endblock %}
