{% extends 'base.html.twig' %}

{% block title %}
    Settings - App
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h4 style="margin-bottom: 1rem">About</h4>
                <p>Version: <span class="fw-light">{{ currentApplicationVersion }}</span>

                    {% set badgeStyle = (latestApplicationVersion is not null and currentApplicationVersion != latestApplicationVersion.name) ? 'text-bg-success' : 'text-bg-success' %}
                    {% set badgeText = (latestApplicationVersion is not null and currentApplicationVersion != latestApplicationVersion.name) ? 'Update available' : 'Up to date' %}

                    <span
                            onclick="window.open('{{ latestApplicationVersion.url }}','_blank')"
                            class="badge rounded-pill {{ badgeStyle }}"
                            target="_blank"
                            style="cursor: pointer">
                        {{ badgeText }}
                    </span>
                </p>
                <p>
                    Timezone: <span class="fw-light">{{ timeZone }}</span>
                </p>

                <h4 style="margin-bottom: 1rem;padding-top: 0.5rem">Getting Support</h4>
                <p>
                    Github: <span class="fw-light"><a href="https://github.com/leepeuker/movary/issues" target="_blank">leepeuker/movary</a></span>
                </p>
                <p>
                    Matrix: <span class="fw-light"><a href="https://element.leepeuker.dev/#/room/#movary-support:leepeuker.dev"
                                                      target="_blank">#movary-support:leepeuker.dev</a></span>
                </p>
                <p>
                    Reddit: <span class="fw-light"><a href="https://www.reddit.com/r/movary/" target="_blank">/r/movary</a></span>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
