{% extends 'base.html.twig' %}
{% import 'macros/url-generator.html.twig' as urlGenerator %}

{% block title %}
    Settings - App
{% endblock %}

{% block stylesheets %}
    <link href="{{ urlGenerator.cssUrl('settings.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ urlGenerator.jsUrl('settings-server-jobs.js') }}"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h5 style="margin-bottom: 1rem">Job Queue</h5>
                <div style="text-align: left">
                    <p>Last <select class="select" id="jobsPerPage" aria-label="Default select example">
                            <option value="30" selected>30</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                        </select> Jobs:
                        <button class="btn btn-primary float-end" onclick="refreshPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
                            </svg>
                        </button>
                    </p>

                    <div class="table-responsive" style="text-align: center;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Created</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                                <tr>
                                    <td>{{ job.userName|default('-') }}</td>
                                    <td>{{ job.type }}</td>
                                    <td>{{ job.status }}</td>
                                    <td>{{ job.updatedAt|default('-') }}</td>
                                    <td>{{ job.createdAt }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if jobs|length == 0 %}<p>No jobs in queue</p>{% endif %}
                <div class="d-grid gap-2">
                    <a class="btn btn-warning" type="button" href="{{ urlGenerator.jobQueueUrl('purge-processed') }}"
                       onclick="return confirm('Are you sure you want to remove all processed jobs (done + failed)?')">Remove processed jobs</a>
                    <a class="btn btn-danger" type="button" href="{{ urlGenerator.jobQueueUrl('purge-all') }}"
                       onclick="return confirm('Are you sure you want to remove all jobs? This will not stop active job processes')">Remove all jobs</a>
                </div>
                <br>
            </div>
        </div>
    </main>
{% endblock %}
