{% extends 'base.html.twig' %}

{% block title %}
    Settings - Account
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-bottom: 1rem">
                <h5>Change date format</h5>
                <p class="text-muted">Date format movary uses when displaying dates for you.</p>
                <form action="/user/date-format" method="post">
                    <div class="input-group">
                        <select class="form-select mb-3" name="dateFormat" style="margin-left: 5%;margin-right: 5%;;text-align: center;padding-right:0;" required>

                            {% for dateFormatOffset, dateFormat in dateFormats %}
                                <option {% if dateFormatSelected == dateFormatOffset %}selected{% endif %} value="{{ dateFormatOffset }}">{{ dateFormat.javascript }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if dateFormatUpdated == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;">
                            Date format was updated.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="background-color: #F8F8F8;padding-top: 1rem;padding-bottom: 1rem">
                <h5>Change password</h5>
                <form action="/user/password" method="post" style="padding-top: 0.3rem">
                    <div class="input-group  mb-3">
                        <input type="password" class="form-control" name="currentPassword" placeholder="Current password" required
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                               style="margin-left: 5%;margin-right: 5%;;text-align: center;">
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="newPassword" placeholder="New password" required minlength="8"
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                               style="margin-left: 5%;margin-right: 5%;;text-align: center;">
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="newPasswordRepeat" placeholder="Repeat password" required minlength="8"
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                               style="margin-left: 5%;margin-right: 5%;;text-align: center;">
                    </div>

                    {% if passwordErrorNotEqual == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;">
                            Passwords were not equal.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if passwordErrorMinLength == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;">
                            Password must be at least {{ passwordErrorMinLength }} characters long.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if passwordErrorCurrentInvalid == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;">
                            Current password is not correct.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if passwordUpdated == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;">
                            Password was updated.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Submit</button>
                </form>
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="padding-top: 1rem;padding-bottom: 1rem">

                <h5>Export & Import</h5>

                <p class="text-muted">Export or import your movary history or ratings.</p>

                <a class="btn btn-primary" target="_blank" href="/user/export/csv/history">Export: history.csv</a>
                <a class="btn btn-primary" target="_blank" href="/user/export/csv/ratings">Export: ratings.csv</a>

                <form action="/user/import/csv/history" method="post" enctype="multipart/form-data" style="margin-top: 1.2rem">
                    <div class="input-group">
                        <input type="file" class="form-control" name="history" required>
                        <button class="btn btn-primary" type="submit" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Import history.csv</button>
                    </div>
                </form>

                {% if importHistorySuccessful == true %}
                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        History was successfully imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if importHistoryError == 'history' %}
                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        History could not be imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <form action="/user/import/csv/ratings" method="post" enctype="multipart/form-data" style="padding-bottom: 0.2rem;margin-top: 1rem">
                    <div class="input-group">
                        <input type="file" class="form-control" name="ratings" required>
                        <button class="btn btn-primary" type="submit" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Import rating.csv</button>
                    </div>
                </form>
                {% if importRatingsSuccessful == true %}
                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        Ratings were successfully imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if importHistoryError == 'ratings' %}
                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        Ratings could not be imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="background-color: #F8F8F8;padding-top: 1rem;padding-bottom: 0.1rem">

                <h5>Delete your data</h5>

                <p class="text-muted">This will irrecoverable delete your data, so be sure that this is really what you want.</p>

                <div style="margin-bottom: 1rem">
                    <a class="btn btn-warning {% if coreAccountChangesDisabled == true %}disabled{% endif %}" href="/user/delete-history"
                       onclick="confirm('Are you sure you want to delete your watch history?')">Delete history</a>
                    <a class="btn btn-warning {% if coreAccountChangesDisabled == true %}disabled{% endif %}" href="/user/delete-ratings"
                       onclick="confirm('Are you sure you want to delete your movie ratings?')">Delete ratings</a>
                    {% if deletedUserHistory == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;margin-top: 1rem">
                            History deleted successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if deletedUserRatings == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 5%;margin-right: 5%;;margin-bottom: 0.7rem!important;margin-top: 1rem">
                            Ratings deleted successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
                <div style="margin-bottom: 1rem">
                    <a class="btn btn-danger {% if coreAccountChangesDisabled == true %}disabled{% endif %}" href="/user/delete-account"
                       onclick="confirm('Are you sure you want to delete your account with all your data?')">Delete
                        account</a>
                </div>

            </div>
        </div>
    </main>
{% endblock %}
