{% extends 'base.html.twig' %}

{% block title %}
    Settings - App
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings-user.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/js/settings-users.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}
            <div style="padding-bottom: 1rem;padding-top: 1rem">
                <h5 style="margin-bottom: 1rem;padding-top: 0.5rem">User Management</h5>

                <p class="text-muted">List of all users. Click on user to edit.</p>

                <div class="table-responsive">
                    <table class="table table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Admin</th>
                        </tr>
                        </thead>
                        <tbody
                        {% for user in users %}
                            <tr style="cursor: pointer">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.is_admin }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary float-end" style="width: 100%" onclick="showCreateUserModal()">Create User</button>

        {{ include('component/modal-user.html.twig') }}
    </main>
{% endblock %}
