{% extends 'base.html.twig' %}

{% block title %}
    Settings
{% endblock %}

{% block scripts %}
    <script src="/js/settings.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">

            <div style="padding-top: 1rem;padding-bottom: 1rem">
                <h5>Change date format</h5>
                <form action="/user/date-format" method="post" style="padding-top: 0.3rem">
                    <div class="input-group input-group-sm">
                        <select class="form-select form-select-sm mb-3" name="dateFormat" style="margin-left: 10%;margin-right: 10%;text-align: center;padding-right:0;" required>

                            {% for dateFormatOffset, dateFormat in dateFormats %}
                                <option {% if dateFormatSelected == dateFormatOffset %}selected{% endif %} value="{{ dateFormatOffset }}">{{ dateFormat.javascript }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if dateFormatUpdated == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;">
                            Date format was updated.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </form>
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="background-color: #F8F8F8;padding-top: 1rem;padding-bottom: 1rem">
                <h5>Change password</h5>
                <form action="/user/password" method="post" style="padding-top: 0.3rem">
                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" name="currentPassword" placeholder="Current password" required
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                               style="margin-left: 10%;margin-right: 10%;text-align: center;">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" name="newPassword" placeholder="New password" required minlength="8"
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                               style="margin-left: 10%;margin-right: 10%;text-align: center;">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" name="newPasswordRepeat" placeholder="Repeat password" required minlength="8"
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}
                               style="margin-left: 10%;margin-right: 10%;text-align: center;">
                    </div>

                    {% if passwordErrorNotEqual == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;">
                            Passwords were not equal.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if passwordErrorMinLength == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;">
                            Password must be at least {{ passwordErrorMinLength }} characters long.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if passwordErrorCurrentInvalid == true %}
                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;">
                            Current password is not correct.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if passwordUpdated == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;">
                            Password was updated.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </form>
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="padding-top: 1rem;padding-bottom: 1rem">
                <h5 style="padding-bottom: 0.5rem">trakt.tv</h5>

                <p>To get your username and generate a client id visit <a href="https://trakt.tv/oauth/applications" target="_blank">this url</a>.</p>

                <form action="/user/trakt" method="post">
                    <p style="font-size: 0.8rem;margin-bottom: 0.5rem">Username:</p>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text"
                               class="form-control"
                               name="traktUserName"
                               placeholder="Enter user name here"
                               value="{{ traktUserName }}"
                               style="margin-left: 10%;margin-right: 10%;text-align: center;"
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}>
                    </div>

                    <p style="font-size: 0.8rem;margin-bottom: 0.5rem">Client ID:</p>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text"
                               class="form-control"
                               name="traktClientId"
                               placeholder="Enter client ID here"
                               value="{{ traktClientId }}"
                               style="margin-left: 10%;margin-right: 10%;text-align: center;"
                               {% if coreAccountChangesDisabled == true %}disabled{% endif %}>
                    </div>

                    {% if traktCredentialsUpdated == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;">
                            Trakt credentials were updated.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <button class="btn btn-primary btn-sm" type="submit" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Submit</button>
                </form>

                <div style="margin-top: 0.9rem">
                    <a class="btn btn-warning btn-sm {% if coreAccountChangesDisabled == true or traktUserName is null or traktClientId is null %}disabled{% endif %}"
                       href="/jobs/schedule/trakt-history-sync">Schedule history sync</a>
                    <a class="btn btn-warning btn-sm {% if coreAccountChangesDisabled == true or traktUserName is null or traktClientId is null %}disabled{% endif %}"
                       href="/jobs/schedule/trakt-ratings-sync">Schedule ratings sync</a>

                    {% if traktScheduleHistorySyncSuccessful == true or traktScheduleRatingsSyncSuccessful == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0!important;margin-top: 1rem">
                            Trakt {% if traktScheduleHistorySyncSuccessful == true %}history{% else %}ratings{% endif %} sync successfully scheduled. Should be processed soon.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="background-color: #F8F8F8;padding-top: 1rem;padding-bottom: 1rem">
                <h5>Plex webhook url</h5>

                <p id="plexWebhookUrl" class="overflow-auto text-nowrap plexWebhookUrl" style="margin-left: 10%;margin-right: 10%">-</p>
                <button id="deletePlexWebhookIdButton" type="button" class="btn btn-danger disabled  btn-sm" onclick="deletePlexWebhookId()">Delete url</button>
                <button type="button" class="btn btn-primary  btn-sm" onclick="regeneratePlexWebhookId()">Regenerate url</button>
            </div>

            <hr style="margin: 0;padding: 0">

            <div style="padding-top: 1rem;padding-bottom: 1rem">

                <h5>Export & Import</h5>

                <a class="btn btn-primary btn-sm" target="_blank" href="/user/export/csv/history">Export: history.csv</a>
                <a class="btn btn-primary btn-sm" target="_blank" href="/user/export/csv/ratings">Export: ratings.csv</a>

                <form action="/user/import/csv/history" method="post" enctype="multipart/form-data" style="margin-top: 1rem">
                    <div class="input-group input-group-sm">
                        <input type="file" class="form-control" name="history" required>
                        <button class="btn btn-primary" type="submit" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Import history.csv</button>
                    </div>
                </form>

                {% if importHistorySuccessful == true %}
                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        History was successfully imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if importHistoryError == 'history' %}
                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        History could not be imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <form action="/user/import/csv/ratings" method="post" enctype="multipart/form-data" style="padding-bottom: 0.2rem;margin-top: 1rem">
                    <div class="input-group input-group-sm">
                        <input type="file" class="form-control" name="ratings" required>
                        <button class="btn btn-primary" type="submit" {% if coreAccountChangesDisabled == true %}disabled{% endif %}>Import rating.csv</button>
                    </div>
                </form>
                {% if importRatingsSuccessful == true %}
                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        Ratings were successfully imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if importHistoryError == 'ratings' %}
                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                        Ratings could not be imported.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>

            <hr style="margin: 0;padding: 0">
            <div style="background-color: #F8F8F8;padding-top: 1rem;padding-bottom: 0.1rem">

                <h5 style="margin-bottom: 1rem">Delete your data</h5>

                <div style="margin-bottom: 1rem">
                    <a class="btn btn-warning btn-sm {% if coreAccountChangesDisabled == true %}disabled{% endif %}" href="/user/delete-history"
                       onclick="confirm('Are you sure you want to delete your watch history?')">Delete history</a>
                    <a class="btn btn-warning btn-sm {% if coreAccountChangesDisabled == true %}disabled{% endif %}" href="/user/delete-ratings"
                       onclick="confirm('Are you sure you want to delete your movie ratings?')">Delete ratings</a>
                    {% if deletedUserHistory == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                            History deleted successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if deletedUserRatings == true %}
                        <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 10%;margin-right: 10%;margin-bottom: 0.7rem!important;margin-top: 1rem">
                            Ratings deleted successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
                <div style="margin-bottom: 1rem">
                    <a class="btn btn-danger btn-sm {% if coreAccountChangesDisabled == true %}disabled{% endif %}" href="/user/delete-account"
                       onclick="confirm('Are you sure you want to delete your account with all your data?')">Delete
                        account</a>
                </div>

            </div>

            <hr style="margin: 0;padding: 0">
            <div style="padding-top: 1rem;padding-bottom: 0.1rem">

                <p>Last <a href="https://trakt.tv/" target="_blank">trakt.tv</a> sync: <span class="fw-light">{{ lastSyncTrakt }}</span></p>
                <p>Last <a href="https://themoviedb.org/" target="_blank">themoviedb.org</a> sync: <span class="fw-light">{{ lastSyncTmdb }}</span></p>
                <p>Last <a href="https://letterboxd.com/" target="_blank">letterboxd</a> sync: <span class="fw-light">{{ lastSyncLetterboxd }}</span></p>
                <p>Current <a href="https://github.com/leepeuker/movary/releases" target="_blank">application</a> version: <span class="fw-light">{{ applicationVersion }}</span>
                </p>

            </div>
        </div>
    </main>
{% endblock %}
