{% extends 'base.html.twig' %}

{% block title %}
    Settings - Plex
{% endblock %}

{% block scripts %}
    <script src="/js/settings-integration-plex.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/settings.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('component/navbar.html.twig') }}

        <div style="text-align: center;">
            {{ include('component/settings-nav.html.twig') }}

            <div style="padding-top: 1rem">
                <h5>Plex webhook url</h5>

                <p class="text-muted">Enter the following URL as a webhook to your plex account to automatically log movies watched via plex. <br>
                    For more info about plex webhooks visit the official <a href="https://support.plex.tv/articles/115002267687-webhooks/" target="_blank">documentation</a>.</p>

                <div id="plexWebhookUrl"
                     class="overflow-auto text-nowrap webhookUrl"
                     data-active="{{ isActive }}"
                     style="font-size:1rem;margin-top: 1rem;margin-bottom: 1rem;">
                    {{ plexWebhookUrl }}
                </div>

                <div id="alertWebhookUrlDiv">
                    <div class="alert alert-warning {% if isActive != '' %}d-none{% endif %}"
                         role="alert"
                         style="margin-left: 5%;margin-right: 5%;margin-bottom: 1rem!important;">
                        Webhooks inactive - {% if currentUserIsAdmin == true %}<a href="/settings/server/general">Application url</a>{% else %}Application url{% endif %} not set
                    </div>
                </div>

                <button id="deletePlexWebhookButton"
                        type="button"
                        class="btn btn-danger {% if plexWebhookUrl == '-' %}disabled{% endif %}"
                        onclick="deletePlexWebhook()">
                    Delete url
                </button>
                <button type="button" class="btn btn-primary {% if isActive == '' %}disabled{% endif %}" onclick="regeneratePlexWebhook()">Regenerate url</button>
            </div>

            <br>

            <h6>Scrobble Options</h6>

            <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="scrobbleWatchesCheckbox"
                       name="scrobbleWatches"
                       {% if plexWebhookUrl == '-' %}disabled{% endif %}
                        {% if scrobbleWatches == true %}checked{% endif %}
                       style="margin-right: 0.2rem">
                <label class="form-check-label" for="scrobbleWatchesCheckbox">Scrobble completed watches</label>
            </div>
            <div>
                <input class="form-check-input"
                       type="checkbox"
                       value="1"
                       id="scrobbleRatingsCheckbox"
                       name="scrobbleRatings"
                       {% if plexWebhookUrl == '-' %}disabled{% endif %}
                        {% if scrobbleRatings == true %}checked{% endif %}
                       style="margin-left: 0.5rem;margin-right: 0.2rem;">
                <label class="form-check-label" for="scrobbleRatingsCheckbox" style="margin-bottom: 1rem">Scrobble rating updates</label>

                <div id="alertWebhookOptionsDiv"></div>

                <button type="submit" class="btn btn-primary" {% if plexWebhookUrl == '-' %}disabled{% endif %} id="saveButton" onclick="updateScrobbleOptions()">Save</button>
            </div>

            <hr>

            <h5>Watchlist import</h5>

            <p class="text-muted">This import will add all movies missing from the Plex Watchlist to your Movary Watchlist.<br>
                You need a X-Plex-Token for authentication, more info <a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/" target="_blank">here</a>.
            </p>

            <label for="plexTokenInput" class="form-label"><b>X-Plex-Token</b> <span class="text-danger">*</span></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" value="{{ plexToken }}" id="plexTokenInput">
                <button class="btn btn-primary" type="button" id="button-addon2" onclick="updatePlexToken()">Save</button>
            </div>

            <div id="alertPlexWatchlistImportDiv"></div>

            <button type="button" disabled class="btn btn-warning" onclick="importPlexWatchlist()">Import watchlist</button>
        </div>
    </main>
{% endblock %}
