{% extends 'base.html.twig' %}

{% block title %}
    Settings - Mastodon
{% endblock %}

{% block scripts %}
    <script src="{{ applicationUrl }}/js/settings-integration-mastodon.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ applicationUrl }}/css/settings.css" rel="stylesheet"/>
    <link href="{{ applicationUrl }}/css/mastodon.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include("component/navbar.html.twig") }}

        <div style="text-align: center">
            {{ include("component/settings-nav.html.twig") }}

            <div style="padding-top: 1rem">
                <h5>Mastodon</h5>

                <p class="text-muted" style="margin-bottom: 0.5rem">
                    Publish newly watched movies or watchlist additions as Mastodon posts.
                </p>
            </div>

            <div class="alert alert-secondary" role="alert" style="padding-top: 0.5rem; padding-bottom: 0.5rem">
                <b>Configuration </b>
                <br style="margin-bottom: 0.5rem"/>
                <ul style="margin-bottom: 0.5rem">
                    <li>
                        Create a new <a href="https://mastodon.social/settings/applications" target="_blank">Mastodon Application</a>
                        with Redirect URI <code>urn:ietf:wg:oauth:2.0:oob</code> and the <code>write:statuses</code> scope
                    </li>
                    <li>Copy "Your access token" from the created Mastodon Application and paste it below</li>
                    <li>Click "Test" to verify the connection</li>
                    <li>Click "Save" to save the settings</li>
                </ul>
            </div>

            <form action="{{ applicationUrl }}/settings/integrations/mastodon" method="post" id="mastodonForm">
                <div style="padding-bottom: 1rem;padding-top: 0.5rem">
                    <input
                            {% if mastodonEnable %}checked{% endif %}
                            class="form-check-input"
                            type="checkbox"
                            id="mastodonEnable"
                            name="mastodonEnable"
                            style="margin-right: 0.2rem"
                    />
                    <label class="form-check-label" for="mastodonEnable">
                        Enable Mastodon integration
                    </label>
                </div>

                <section id="enabledisable" class="{% if mastodonEnable == false %}disabled{% endif %}">
                    <p style="margin-bottom: 0.5rem">
                        <b>Mastodon username</b>
                    </p>
                    <div class="input-group mb-3" style="margin-bottom: 0!important;">
                        <input
                                {% if mastodonEnable == false %}disabled{% endif %}
                                type="text"
                                class="form-control"
                                name="mastodonUsername"
                                id="mastodonUsername"
                                value="{{ mastodonUsername }}"
                                style="margin-left: 5%; margin-right: 5%; text-align: center"
                                pattern="@.*@.*"
                        />
                    </div>
                    <div class="form-text" style="margin-bottom: 1rem">Username format @.*@.* (e.g. <code>@username@mastodon.social</code>)</div>

                    <p style="margin-bottom: 0.5rem"><b>Access Token</b></p>
                    <div class="input-group mb-3" style="margin-bottom: 0!important;">
                        <input
                                {% if mastodonEnable == false %}disabled{% endif %}
                                type="text"
                                class="form-control"
                                name="mastodonAccessToken"
                                id="mastodonAccessToken"
                                value="{{ mastodonAccessToken }}"
                                style="margin-left: 5%; margin-right: 5%; text-align: center"
                        />
                    </div>
                    <div class="form-text" style="margin-bottom: 1rem">Copy from your Mastodon application</div>

                    <div class="mb-3" style="margin-left: 5%; margin-right: 5%; text-align: center">
                        <label for="privacyInput" class="form-label"><b>Post visibility</b></label>
                        <select class="form-select" name="mastodonVisibility" style="text-align: center;padding-right:0;" id="privacyInput" aria-describedby="privacyHelp"
                                {% if mastodonEnable == false %}disabled{% endif %}>
                            <option value="public" {% if mastodonVisibility == "public" %}selected{% endif %}>Public</option>
                            <option value="unlisted" {% if mastodonVisibility == "unlisted" %}selected{% endif %}>Unlisted</option>
                            <option value="private" {% if mastodonVisibility == "private" %}selected{% endif %}>Followers Only</option>
                            <option value="direct" {% if mastodonVisibility == "direct" %}selected{% endif %}>Private</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <input
                                {% if mastodonEnable == false %}disabled{% endif %}
                                class="form-check-input"
                                type="checkbox"
                                {% if mastodonOnByDefault %}checked{% endif %}
                                id="mastodonOnByDefault"
                                name="mastodonOnByDefault"
                                style="margin-right: 0.2rem"
                        />

                        <label class="form-check-label" for="mastodonOnByDefault">
                            Check "Post to Mastodon" by default for new plays
                        </label>
                    </div>
                </section>

                <div id="alerts" style="margin-left: 5%; margin-right: 5%;">
                    {% if mastodonCredentialsUpdated == true %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            Settings updated.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>

                <button class="btn btn-outline-primary mb-3" type="button" onclick="testCredentials()" id="verifyButton">
                    Test
                </button>

                <button class="btn btn-primary mb-3" type="submit">Save</button>
            </form>
        </div>
    </main>
{% endblock %}
