{% macro create(dashboardRow, mostWatchedActresses, routeUsername) %}

    {% import 'component/dashboard/row-item-toggle.html.twig' as rowItemToggle %}
    {% import 'macros/url-macros.html.twig' as urlMacros %}
    {{ rowItemToggle.create(dashboardRow) }}

    <li class="list-group-item {{ dashboardRow.isExtended ? 'activeItem' : 'inactiveItem' }}" style="padding: 1rem 0.4rem 0 0.4rem;">
        <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
            {% for mostWatchedActress in mostWatchedActresses %}
                <div class="col" style="padding-bottom: 1rem;">
                    <a class="card h-100 position-relative" href="{{ urlMacros.userPersonUrl(routeUsername, mostWatchedActress) }}"
                         style="cursor: pointer;">
                        <div class="card-header text-truncate" style="padding: 0.2rem">
                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.name }}</small>
                        </div>
                        <input id="actorName_{{ mostWatchedActress.id }}" value="{{ mostWatchedActress.name }}" type="hidden">
                        <img src="{{ mostWatchedActress.poster_path }}" alt="{{ mostWatchedActress.name }} Poster">
                        <div class="card-footer" style="padding: 0.1rem">
                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.uniqueCount }}x</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-outline-secondary btn-sm" href="{{ urlMacros.userActorsWithGenderSortedByUniqueAppearances(routeUsername, 1) }}"
           style="margin-bottom: 1rem;width: 100%;border-color: lightgrey">more</a>
    </li>
{% endmacro %}
