{% macro create(isExtended, mostWatchedActresses, routeUsername) %}

    {% import 'component/dashboard/row-item-toggle.html.twig' as rowItemToggle %}
    {{ rowItemToggle.create('Most watched Actresses', isExtended) }}

    <li class="list-group-item {{ isExtended ? 'activeItem' : 'inactiveItem' }}" style="padding: 1rem 0.4rem 0 0.4rem;">
        <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
            {% for mostWatchedActress in mostWatchedActresses %}
                <div class="col" style="padding-bottom: 1rem;">
                    <div class="card h-100 position-relative" onclick="window.location='/users/{{ routeUsername }}/persons/{{ mostWatchedActress.id }}'"
                         style="cursor: pointer;">
                        <div class="card-header text-truncate" style="padding: 0.2rem">
                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.name }}</small>
                        </div>
                        <input id="actorName_{{ mostWatchedActress.id }}" value="{{ mostWatchedActress.name }}" type="hidden">
                        <img src="{{ mostWatchedActress.poster_path }}" alt="{{ mostWatchedActress.name }} Poster">
                        <div class="card-footer" style="padding: 0.1rem">
                            <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.uniqueCount }}x</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-outline-secondary btn-sm" href="/users/{{ routeUsername }}/actors?s=&sb=uniqueAppearances&so=desc&ge=1&pp=24"
           style="margin-bottom: 1rem;width: 100%;border-color: lightgrey">more</a>
    </li>
{% endmacro %}
