{% macro create(dashboardRow, watchlistItems, routeUsername) %}

    {% import 'component/dashboard/row-item-toggle.html.twig' as rowItemToggle %}
    {{ rowItemToggle.create(dashboardRow) }}

    <li class="list-group-item {{ dashboardRow.isExtended ? 'activeItem' : 'inactiveItem' }}" style="padding: 1rem 0.4rem 0 0.4rem;">
        <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
            {% for watchlistItem in watchlistItems %}
                <div class="col" style="padding-bottom: 1rem;">
                    <a class="card h-100 position-relative" href="{{ applicationUrl }}/users/{{ routeUsername }}/movies/{{ watchlistItem.id }}-{{ watchlistItem.title|slugify }}"
                         style="cursor: pointer;">
                        <input id="watchlistTitle_{{ watchlistItem.id }}" value="{{ watchlistItem.title }}" type="hidden">
                        <div style="height: 100%">
                            <img src="{{ watchlistItem.poster_path }}"
                                 class="card-img-top"
                                 alt="{{ watchlistItem.title }} Poster">

                        </div>
                        <div class="card-footer" style="padding: 0.1rem">
                            <small class="text-muted" style="font-size: 0.9rem;">{{ watchlistItem.created_at|date(dateFormatPhp) }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-outline-secondary btn-sm" href="{{ applicationUrl }}/users/{{ routeUsername }}/watchlist"
           style="margin-bottom: 1rem;width: 100%;border-color: lightgrey">more</a>
    </li>
{% endmacro %}
