<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/" id="navbarBrand">{{ applicationName ?? 'Movary' }}</a>
        {% if loggedIn == true %}
        <div class="btn-group">
            {% endif %}
            {% if loggedIn == true %}
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#logPlayModal" style="border-color: #9d9d9d">
                    Add movie
                </button>
            {% endif %}
            <button type="button" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false" style="border-color: #9d9d9d;">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item {% if requestUrlPath matches '#\/.+\/dashboard#' %}active{% endif %}"
                       href="/users/{{ routeUsername ?: currentUserName }}/dashboard">
                        Dashboard
                    </a>
                </li>
                <li><a class="dropdown-item {% if requestUrlPath matches '#\/.+\/history#' %}active{% endif %}"
                       href="/users/{{ routeUsername ?: currentUserName }}/history">
                        History
                    </a>
                </li>
                <li><a class="dropdown-item {% if requestUrlPath matches '#\/.+\/watchlist#' %}active{% endif %}"
                       href="/users/{{ routeUsername ?: currentUserName }}/watchlist">
                        Watchlist
                    </a>
                </li>
                <li><a class="dropdown-item {% if requestUrlPath matches '#\/.+\/movies#' %}active{% endif %}"
                       href="/users/{{ routeUsername ?: currentUserName }}/movies">
                        All Movies</a>
                </li>
                <li><a class="dropdown-item {% if requestUrlPath matches '#\/.+\/actors#' %}active{% endif %}"
                       href="/users/{{ routeUsername ?: currentUserName }}/actors">
                        Top Actors
                    </a>
                </li>
                <li><a class="dropdown-item {% if requestUrlPath matches '#\/.+\/directors#' %}active{% endif %}"
                       href="/users/{{ routeUsername ?: currentUserName }}/directors">
                        Top Directors
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% if loggedIn == true %}
                    <li><a class="dropdown-item {% if requestUrlPath starts with '/settings/' %}active{% endif %}" href="/settings/account/general">Settings</a></li>
                    <li><button class="dropdown-item" onclick="logout()" style="cursor: pointer">Logout</button></li>
                {% else %}
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                {% endif %}
                <li>
                    <hr class="dropdown-divider">
                </li>
                <div class="form-check form-switch" style="margin-left: 1rem">
                    <input class="form-check-input" type="checkbox" onclick="toggleThemeSwitch()" role="switch" id="darkModeInput">
                    <label class="form-check-label" for="darkModeInput">Dark Mode</label>
                </div>
            </ul>
            {% if loggedIn == true %}</div>{% endif %}
    </div>
</nav>
<hr style="margin: 0;" class="{{ theme == 'dark' ? '' : 'd-none' }}" id="darkModeNavHr">

{{ include('component/modal-log-play.html.twig') }}
