{% import 'macros/url-generator.html.twig' as urlMacros %}
<!DOCTYPE html>
<html id="html" data-bs-theme="{{ theme }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ urlMacros.cssUrl('bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ urlMacros.imageUrl('favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ urlMacros.baseUrlWith('manifest.json') }}">
    <meta name="theme-color" content="white">
    <link rel="canonical" href="{{ urlMacros.canonicalUrl(canonicalPath, canonicalExtra) }}" />
    <link rel="stylesheet" href="{{ urlMacros.cssUrl('bootstrap-icons-1.10.2.css') }}">
    <link rel="stylesheet" href="{{ urlMacros.cssUrl('datepicker-1.2.0.min.css') }}">
    <link rel="stylesheet" href="{{ urlMacros.cssUrl('global.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<script>0</script>

<input value="{{ dateFormatJavascript }}" id="dateFormatJavascript" hidden>
<input value="{{ dateFormatPhp }}" id="dateFormatPhp" hidden>
<input type="hidden" id="currentUserName" value="{{ currentUserName }}">

{% block body %}{% endblock %}

<script>window.APPLICATION_URL = "{{- applicationUrl -}}";</script>
<script src="{{ urlMacros.jsUrl('jquery-3.3.1.js') }}"></script>
<script src="{{ urlMacros.jsUrl('bootstrap.bundle.min.js') }}"></script>
<script src="{{ urlMacros.jsUrl('datepicker-full-1.2.0.min.js') }}"></script>
<script src="{{ urlMacros.jsUrl('app.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
