<!DOCTYPE html>
<html id="html" data-bs-theme="{{ theme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ applicationUrl }}{{ canonicalPath }}{{ canonicalExtra }}" />

^    <title>{% apply trim %}{%- block title -%}{% endblock %}{% endapply %}</title>
    <link rel="shortcut icon" href="{{ applicationUrl }}/images/favicon.ico" type="image/x-icon">

    <meta property="og:title" content="{{ applicationName  ~ ': ' ~  block('title')|trim }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ applicationUrl }}{{ canonicalPath }}{{ canonicalExtra }}" />
    <meta property="og:image" content="{% block ogImage %}{{ applicationUrl }}/images/movary-logo-512x512.png{% endblock %}" />
    <meta property="og:description" content="Self hosted web app to track and rate your watched movies" />

    <link href="{{ applicationUrl }}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ applicationUrl }}/manifest.json">

    <meta name="theme-color" content="white">
    <link rel="stylesheet" href="{{ applicationUrl }}/css/bootstrap-icons-1.10.2.css">
    <link rel="stylesheet" href="{{ applicationUrl }}/css/datepicker-1.2.0.min.css">
    <link rel="stylesheet" href="{{ applicationUrl }}/css/global.css">
{% block stylesheets %}{% endblock %}
</head>
<body>
<script>0</script>

<input value="{{ dateFormatJavascript }}" id="dateFormatJavascript" hidden>
<input value="{{ dateFormatPhp }}" id="dateFormatPhp" hidden>
<input type="hidden" id="currentUserName" value="{{ currentUserName }}">

{% block body %}{% endblock %}

<script>window.APPLICATION_URL = "{{ applicationUrl  }}";</script>
<script src="{{ applicationUrl }}/js/jquery-3.3.1.js"></script>
<script src="{{ applicationUrl }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ applicationUrl }}/js/datepicker-full-1.2.0.min.js"></script>
<script src="{{ applicationUrl }}/js/app.js"></script>

{% block scripts %}{% endblock %}
</body>
</html>
