<!DOCTYPE html>
<html id="html" data-bs-theme="{{ theme }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="white">
    {{ vite('images/favicon.ico') }}
    {{ vite('js/main.js') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<input value="{{ dateFormatJavascript }}" id="dateFormatJavascript" hidden>
<input value="{{ dateFormatPhp }}" id="dateFormatPhp" hidden>

{% block body %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
