{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}
    <link href="/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('navbar.html.twig') }}
        <div style="text-align: center;padding-top: 1rem">
            <h2 style="padding-bottom: 0.5rem">Overview</h2>
            <div class="row justify-content-md-center">
                <div class="col ">
                    <span class="stat-value">{{ totalPlayCount }}</span><br><span class="stat-description">TOTAL PLAYS</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ uniqueMoviesCount }}</span><br><span class="stat-description">UNIQUE MOVIES</span>
                </div>
                <div class="col">
                    <span class="stat-value">{{ totalHoursWatched }}</span><br><span class="stat-description font-weight-light">HOURS WATCHED</span>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col ">
                    <span class="stat-value">{{ averagePlaysPerDay }}</span><br><span class="stat-description">PLAYS PER DAY</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averageRuntime }}</span><br><span class="stat-description">AVERAGE RUNTIME</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ average10Rating }}</span><br><span class="stat-description">AVERAGE RATING</span>
                </div>
            </div>

            <hr style="margin-top: 1.1rem">

            <h3 style="padding-bottom: 0.8rem"><a href="/history" style="color: black">Last Plays</a></h3>


            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for lastPlay in lastPlays %}
                    <div class="col position-relative" style="padding-bottom: 1rem;">
                        <div class="card h-100 position-relative">
                            <div class="card-header text-truncate" style="padding: 0.2rem">
                                <small class="text-muted" style="font-size: 0.9rem;">{{ lastPlay.title }}</small>
                            </div>
                            <div class="position-relative">
                                <img src="https://image.tmdb.org/t/p/w500{{ lastPlay.poster_path }}" class="card-img-top" alt="..." data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="{{ lastPlay.title }}" style="border-top-left-radius:0;border-top-right-radius:0;">

                            </div>
                            <div class="card-footer" style="padding: 0.1rem">
                                <small class="text-muted" style="font-size: 0.8rem;font-weight: bold">{{ lastPlay.watched_at|date("d.m.y") }}</small>
                            </div>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.9rem">
                                {{ lastPlay.rating_10 }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr style="margin-top: 1.1rem">

            <h3 style="padding-bottom: 0.8rem">Most watched Actors</h3>

            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for mostWatchedActor in mostWatchedActors %}
                    <div class="col" style="padding-bottom: 1rem;">
                        <div class="card h-100  position-relative" onclick="showActorModal(this.id)" id="{{ mostWatchedActor.id }}" style="cursor: pointer;">
                            <div class="card-header text-truncate" style="padding: 0.2rem">
                                <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActor.name }}</small>
                            </div>
                            <input id="actorName_{{ mostWatchedActor.id }}" value="{{ mostWatchedActor.name }}" type="hidden">
                            <img src="https://image.tmdb.org/t/p/w500{{ mostWatchedActor.poster_path }}" class="card-img-top" alt="..."
                                 style="border-top-left-radius:0;border-top-right-radius:0;">
                            <div class="card-footer" style="padding: 0.1rem">
                                <small class="text-muted" style="font-size: 0.9rem;font-weight: bold">{{ mostWatchedActor.count }}x</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr style="margin-top: 1.1rem">

            <h3 style="padding-bottom: 0.8rem">Most watched Actresses</h3>

            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for mostWatchedActress in mostWatchedActresses %}
                    <div class="col" style="padding-bottom: 1rem;">
                        <div class="card h-100  position-relative" onclick="showActorModal(this.id)" id="{{ mostWatchedActress.id }}" style="cursor: pointer;">
                            <div class="card-header text-truncate" style="padding: 0.2rem">
                                <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedActress.name }}</small>
                            </div>
                            <input id="actorName_{{ mostWatchedActress.id }}" value="{{ mostWatchedActress.name }}" type="hidden">
                            <img src="https://image.tmdb.org/t/p/w500{{ mostWatchedActress.poster_path }}" class="card-img-top" alt="..."
                                 style="border-top-left-radius:0;border-top-right-radius:0;">
                            <div class="card-footer" style="padding: 0.1rem">
                                <small class="text-muted" style="font-size: 0.9rem;font-weight: bold">{{ mostWatchedActress.count }}x</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr style="margin-top: 1.1rem">

            <h3 style="padding-bottom: 0.8rem">Most watched Directors</h3>

            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for mostWatchedDirector in mostWatchedDirectors %}
                    <div class="col" style="padding-bottom: 1rem;">
                        <div class="card h-100  position-relative" onclick="showDirectorModal(this.id)" id="{{ mostWatchedDirector.id }}" style="cursor: pointer;">
                            <div class="card-header text-truncate" style="padding: 0.2rem">
                                <small class="text-muted" style="font-size: 0.9rem;">{{ mostWatchedDirector.name }}</small>
                            </div>
                            <input id="directorName_{{ mostWatchedDirector.id }}" value="{{ mostWatchedDirector.name }}" type="hidden">
                            <img src="https://image.tmdb.org/t/p/w500{{ mostWatchedDirector.poster_path }}" class="card-img-top" alt="..."
                                 style="border-top-left-radius:0;border-top-right-radius:0;">
                            <div class="card-footer" style="padding: 0.1rem">
                                <small class="text-muted" style="font-size: 0.9rem;font-weight: bold">{{ mostWatchedDirector.count }}x</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </main>

    <div class="modal fade" id="personModal" tabindex="-1" aria-labelledby="personModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personModalName">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="personModalMovies">

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
