{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}
    <link href="/css/app.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main role="main" class="container" style="padding-top: 1rem">
        <div style="text-align: center">
            <h2 style="padding-bottom: 0.5rem">Overview</h2>
            <div class="row justify-content-md-center">
                <div class="col ">
                    <span class="stat-value">{{ totalPlayCount }}</span><br><span class="stat-description">TOTAL PLAYS</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ uniqueMoviesCount }}</span><br><span class="stat-description">UNIQUE MOVIES</span>
                </div>
                <div class="col">
                    <span class="stat-value">{{ totalHoursWatched }}</span><br><span class="stat-description font-weight-light">HOURS WATCHED</span>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col ">
                    <span class="stat-value">{{ averagePlaysPerDay }}</span><br><span class="stat-description">PLAYS PER DAY</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ averageRuntime }}</span><br><span class="stat-description">AVERAGE RUNTIME</span>
                </div>
                <div class="col ">
                    <span class="stat-value">{{ average10Rating }}</span><br><span class="stat-description">AVERAGE RATING</span>
                </div>
            </div>
            <hr>
            <h3 style="padding-bottom: 0.6rem">Last Plays</h3>


            <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6">
                {% for lastPlay in lastPlays %}
                    <div class="col" style="padding-bottom: 1rem">
                        <div class="card h-100  position-relative">
                            <img src="https://image.tmdb.org/t/p/w500{{ lastPlay.poster_path }}" class="card-img-top" alt="...">
                            <div class="card-footer" style="padding: 0.1rem">
                                <small class="text-muted" style="font-size: 0.8rem">{{ lastPlay.watched_at|date("d.m.y") }}</small>
                            </div>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 0.9rem">
                                {{ lastPlay.rating_10 }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div>
                Trakt.tv | Last refresh: -<br>
                <form action="/refresh-trakt" method="POST">
                    <button type="submit" class="btn btn-primary">Refresh</button>
                </form>
            </div>
            <br>
            <div>
                themoviedb.org | Last refresh: -<br>
                <form action="/refresh-tmdb" method="POST">
                    <button type="submit" class="btn btn-primary">Refresh</button>
                </form>
            </div>


            <hr>


            <ul>
                <li><a href="/api/history">History</a></li>
                <li><a href="/api/mostWatchedMovies">Most watched movies</a></li>
                <li><a href="/api/mostWatchedActors">Most watched actors</a></li>
                <li><a href="/api/mostWatchedGenres">Most watched genres</a></li>
                <li><a href="/api/mostWatchedProductionCompanies">Most watched production companies</a></li>
            </ul>

            <hr>

            <form action="/letterboxd-rating" method="post" enctype="multipart/form-data">
                <p>Letterboxed rating upload:</p>
                <input type="file" id="letterboxedRating" name="letterboxedRating" accept=".csv" required> <br><br>
                <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
            </form>
            <hr>
    </main>
{% endblock %}
